/* --------------- tc-footer-style9 --------------- */
.tc-footer-style9{
    .foot-links{
    a{
        font-size: 14px;
        color: #a2a2a2;
        margin-inline-end: 20px;
        &:hover{
            color: var(--color-blue3);
        }
    }
    }
    .sub-title{
    font-size: 20px;
    font-weight: 900;
    display: block;
    width: max-content;
    position: relative;
    padding-right: 5px;
    margin-bottom: 45px;
    &::after{
        position: absolute;
        content: ".";
        color: var(--color-red2);
        right: 0;
        bottom: 0;
    }
    }

    .links{
    a{
        color: #777;
        text-transform: capitalize;
        margin-bottom: 20px;
        &:hover{
            color: var(--color-blue3);
        }
    }
    }

    .subs-foot{
    .form-group{
        position: relative;
        .form-control{
            margin-bottom: 30px;
            box-shadow: 0 0 20px #0001;
            padding-left: 30px;
            border: 1px solid #9992;
            border-radius: 10px;
            min-height: 50px;
        }
        .icon{
            position: absolute;
            left: 10px;
            top: 14px;
        }
    }
    }

    .foot{
    margin-top: 100px;
    border-top: 1px solid #9993;
    padding: 30px 0;
    }
}