/* --------------- navbar style9 --------------- */
.page-pricing {

    .tc-page-pricing-table{
        padding: 120px 0;

        .toggle_switch{
            .form-check-label{
                pointer-events: none;
            }
        }

        .pricing-card{
            position: relative;
            padding: 50px;
            border: 1px solid #9992;
            margin-top: 40px;
            border-radius: 10px;
            
            h6{
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
            h2{
                font-size: 60px;
                color: var(--color-orange1);
                font-weight: bold;
                margin-bottom: 30px;
            }
            p{
                font-size: 16px;
                color: #777;
            }
            ul{
                padding: 20px 0;
                border-bottom: 1px solid #9992;
                li{
                    margin: 10px 0;
                }
            }
            &.active{
                border: 1px solid var(--color-blue4);
                &::after{
                    position: absolute;
                    content: "";
                    left: 30px;
                    bottom: -20px;
                    width: calc(100% - 60px);
                    height: 20px;
                    border: 1px solid var(--color-blue4);
                    border-top: 0;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }

    .tc-page-about-request{
        .request-card{
            position: relative;
            background-color: #4660ff;
            color: #fff;
            padding: 60px;
            overflow: hidden;
            border-radius: 15px;

            &::after{
                position: absolute;
                content: "";
                right: 50%;
                top: -100px;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: #334ce4;
            }

            .info{
                position: relative;
                z-index: 10;
                display: flex;
                align-items: center;
                .icon{
                    margin-inline-end: 20px;
                    flex-shrink: 0;
                    opacity: 0.3;
                    max-width: 50px;
                }
            }
            .butn{
                z-index: 10;
            }
        }
     }

}

@media screen and (max-width: 991px) {
    .page-pricing {
        
    }
}