/* ========= [ * page-home_27 ]  =========*/

// navbar
@import 'navbar';

// navbar
@import 'header';

// footer
@import 'footer';

// page_team
@import 'page_team';

// page_about
@import 'page_about';

// page_services
@import 'page_services';

// page_services_det
@import 'page_services_det';

// page_faq
@import 'page_faq';

// page_pricing
@import 'page_pricing';

// page_soon
@import '_page_soon';

// ------------ home style ------------
.inner-pages {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;

    .sub_font{
        font-family: 'Syne', sans-serif;
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 600;
    }

    .section-title.section-title-style24{
        h6{
           font-weight: bold;
           font-size: 14px;
           text-transform: uppercase;
           color: var(--color-blue3);
           display: inline-flex;
           align-items: center;
           margin-bottom: 10px;
        }
        h2{
           font-size: 50px;
           span{
              position: relative;
              color: var(--color-red2);
              .mirror_1{
                 font-weight: bold;
                 font-size: 50px;
                 position: absolute;
                 bottom: -7px;
                 left: 0 !important;
                 width: 100%;
                 text-align: center;
                 color: transparent;
                 -webkit-text-stroke: 1px #ff467299;
                 line-height: 1.3;
              }
              .mirror_2{
                 font-weight: bold;
                 font-size: 50px;
                 position: absolute;
                 bottom: -12px;
                 left: 0 !important;
                 width: 100%;
                 text-align: center;
                 color: transparent;
                 -webkit-text-stroke: 1px #ff467222;
                 line-height: 1.3;
              }
           }
        }
     }

}

@media screen and (max-width: 991px) {
    .inner-pages {

        br{
            display: none;
        }

        .fsz-60 {
            font-size: 40px !important;
        }

        .fsz-50 {
            font-size: 30px !important;
        }

        .fsz-30 {
            font-size: 20px !important;
        }

        .fsz-40 {
            font-size: 25px !important;
        }

        .mb-100 {
            margin-bottom: 50px !important;
        }

        .fsz-35 {
            font-size: 20px !important;
        }

        .fsz-18 {
            font-size: 15px !important;
        }

        .fsz-80 {
            font-size: 50px !important;
        }

        .mb-80 {
            margin-bottom: 40px !important;
        }

        .fsz-26 {
            font-size: 16px !important;
        }

        .butn{
            padding: 12px 15px !important;
        }

    }
}
