/* --------------- blog style 1 --------------- */
.tc-blog-style1{
   padding: 140px  0;
   position: relative;
   background: linear-gradient(to top, #e0dfe8 ,#fff );

   .blog-card{
      .img{
         height: 275px;
         border-radius: 20px;
         overflow: hidden;
         position: relative;
         .tags{
            position: absolute;
            top: 20px;
            left: 20px;
            a{
               font-size: 12px;
               text-transform: uppercase;
               color: #fff;
               background-image: var(--bg-grad1);
               border-radius: 30px;
               padding: 6px 10px;
               font-weight: bold;
            }
         }

         .vid-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            color: #fff;
            z-index: 10;
            font-size: 30px;
            border: 2px solid #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0004;
         }
      }
      .info{
         .blog-card-title{
            font-size: 30px;
            margin-top: 40px;
            font-weight: bold;
         }
         .text{
            font-size: 15px;
            margin-top: 15px;
         }
      }
   }
}


/* --------------- blog style 2 --------------- */
.tc-blog-style2{
   padding: 160px 0;
   background-color: #dee0e8;

   .img{
      height: 350px;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .info{
      padding: 10px 0;
      display: flex;
      .date-box{
         width: 20%;
         flex-shrink: 0;
         .num{
            font-size: 60px;
            font-weight: 100;
         }
      }
      .info-text{
         padding-top: 20px;
         .title{
            font-size: 30px;
            margin-bottom: 15px;
            a{
               &:hover{
                  text-decoration: underline;
               }
            }
         }
      }
   }

   .swiper-pagination{
      bottom: 0;
      text-align: center;
      width: 100%;
      line-height: 1;
      .swiper-pagination-bullet{
         border-radius: 0;
         width: 10px;
         height: 10px;
         margin: 0 10px;
         &.swiper-pagination-bullet-active{
            background-color: var(--color-blue1);
         }
      }
   }
}


/* --------------- blog style 3 --------------- */
.tc-blog-style3{
   padding: 160px 0 130px;
   background-color: var(--color-darkBlue1);

   .main-card-blog{
      position: relative;
      border-radius: 30px;
      overflow: hidden;
      .img{
         height: 630px;
         border-radius: 30px;
         overflow: hidden;
      }
      .info{
         position: absolute;
         bottom: 0;
         left: 0;
         width: 50%;
         min-width: 310px;
         z-index: 5;
         background-color: var(--color-cyan1);
         padding: 30px 20px 30px 30px;
         border-top-right-radius: 30px;
         color: #fff;
         .tags-date{
            .tag-link{
               font-size: 14px;
               font-weight: bold;
               border: 1px solid #fff3;
               padding: 7px 15px;
               border-radius: 8px;
               text-transform: uppercase;
            }
            small{
               color: #ccffff;
               margin-inline-start: 10px;
            }
         }
         .title{
            font-size: 24px;
            margin-top: 15px;
         }
         .text{
            font-size: 16px;
            margin-top: 30px;
            color: #ccffff;
         }
      }
   }

   .text-news-card{
      padding: 40px;
      background-color: #fff;
      border-radius: 30px;

      h5{
         font-weight: bold;
         font-size: 16px;
         text-transform: uppercase;
      }

      .blog-card{
         margin-top: 25px;

         h3.title{
            font-size: 24px;
            font-weight: bold;
            &:hover{
               color: var(--color-cyan1);
            }
         }
   
         .tags-date{
            margin-bottom: 10px;
            .tag-link{
               font-size: 14px;
               font-weight: bold;
               border: 1px solid #9994;
               padding: 7px 15px;
               border-radius: 8px;
               text-transform: uppercase;
            }
            small{
               margin-inline-start: 10px;
            }
         }
      }
   }

   .color-info-news-card{
      .info-card{
         min-width: 310px;
         z-index: 5;
         background-color: var(--color-cyan1);
         padding: 30px 25px;
         border-radius: 30px;
         color: #fff;
         .tags-date{
            .tag-link{
               font-size: 14px;
               font-weight: bold;
               border: 1px solid #fff3;
               padding: 7px 15px;
               border-radius: 8px;
               text-transform: uppercase;
            }
            small{
               color: #ccffff;
               margin-inline-start: 10px;
            }
         }
         .title{
            font-size: 24px;
            margin-top: 15px;
         }
         .text{
            font-size: 16px;
            margin-top: 30px;
            color: #ccffff;
         }
      }
      .img-card{
         height: 100%;
         border-radius: 30px;
         overflow: hidden;
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}


/* --------------- blog style 4 --------------- */
.tc-blog-style4{
   background-color: #bec2c5;
   padding: 150px 0;
   .main-post{
      position: relative;
      color: #fff;
      .img{
         height: 590px;
      }
      .info{
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         padding: 50px 60px;
         z-index: 10;
         background: linear-gradient(to top, #000000cc , transparent);
         display: flex;
         align-items: flex-end;

         .date{
            position: relative;
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 30px;
            padding-left: 15px;
            &::before{
               position: absolute;
               content: "";
               left: 0;
               top: calc(50% - 4px);
               width: 8px;
               height: 8px;
               border-radius: 50%;
               background-color: #fff;
            }
            a{
               margin: 0 5px;
            }
         }

         .post-title{
            font-size: 36px;
            font-weight: 400;
         }
      }
   }
   .sub-post{
      margin-bottom: 30px;
      border-bottom: 1px solid #999;
      .img{
         height: 260px;
      }
      .info{
         padding: 40px 0;
         .date{
            position: relative;
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 15px;
            padding-left: 15px;
            &::before{
               position: absolute;
               content: "";
               left: 0;
               top: calc(50% - 4px);
               width: 8px;
               height: 8px;
               border-radius: 50%;
               background-color: #000;
            }
            a{
               margin: 0 5px;
            }
         }
         .post-title{
            font-size: 24px;
         }
      }
   }
}
@media screen and (max-width: 991px) {
   .tc-blog-style4{
      padding: 80px 0;
      .main-post {
         margin-bottom: 30px;
         .img {
            height: 350px;
         }
         .info{
            padding: 40px 30px;
            .post-title{
               font-size: 25px;
            }
            .date{
               margin-bottom: 20px;
               font-size: 12px;
            }
         }
      }
   }
}


/* --------------- blog style 5 --------------- */
.tc-blog-style5{
   .main-card{
      .img{
         position: relative;
         height: 300px;
         border-radius: 20px;
         overflow: hidden;
         .tag{
            padding: 5px 10px;
            border-radius: 30px;
            text-transform: uppercase;
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 15px;
         }
      }
   }
   .faq-side{
      padding: 40px;
      border-radius: 30px;
      border: 1px solid #999;
      .accordion{
         .accordion-item{
            background: transparent;
            border-radius: 0;
            border: 0;
            .accordion-button{
               font-size: 18px;
               font-weight: bold;
               color: #000;
               background: transparent;
               box-shadow: none;
               padding: 22px 0;
               border-bottom: 1px solid #999;
               padding-right: 50px;
               &::after{
                  position: absolute;
                  right: 0;
               }
            }
            .accordion-button:not(.collapsed){
               background: transparent;
               color: var(--color-red1);
               border-color: var(--bg-red1);
               &::after{
                  filter: invert(0%) sepia(100%) saturate(7454%) hue-rotate(211deg) brightness(0%) contrast(111%);
               }
            }
            .accordion-body{
               padding: 20px 0;
            }
         }
      }
   }
}


/* --------------- blog style 7 --------------- */
.tc-blog-style7{
   background-color: #efeff1;
   background-image: url(../img/home_construction/blog/back_pattern.png);
   background-size: cover;
   background-attachment: fixed;
   padding: 130px 0;

   .tc-blog-slider7{
      position: relative;
      padding-bottom: 130px;
      .swiper-button-next, .swiper-button-prev{
         &::after{
            color: #000;
            font-size: 30px;
         }
      }
      .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
         right: -70px;
      }
      .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
         left: -70px;
      }
   }

   .blog-card{
      position: relative;
      background-color: #fff;
      padding: 40px;
      overflow: hidden;
      &:hover{
         &::after{
            opacity: 0.4;
         }
         .back-img{
            transform: translateX(0) scaleX(1);
            opacity: 1;
            filter: blur(0);
         }
         .info{
            *,
            .color-666{
               color: #fff !important;
            }
            .bg-000{
               background-color: #fff !important;
            }
         }
      }
      &::after{
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: #000;
         opacity: 0;
         transition: 0.4s;
         z-index: 1;
      }
      .back-img{
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: 0.4s;
         transform: translateX(20%) scaleX(1.5);
         opacity: 0;
         filter: blur(10px);
      }
      .info{
         position: relative;
         z-index: 10;
         *{
            transition: all 0.3s ease;
         }
         .top-info{
            min-height: 330px;
         }
         .btm-info{
            .date{
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding-top: 30px;
               margin-top: 30px;
               border-top: 1px solid #999;
               .day{
                  color: var(--color-orange2);
                  font-weight: bold;
               }
            }
         }
      }
   }

   .newsletter{
      padding-top: 130px;
      border-top: 1px solid #999;
      .subs-group{
         display: flex;
         padding: 10px 0;
         border-bottom: 1px solid #999;
         font-size: 16px;
         .icon{
            margin-inline-end: 15px;
            flex-shrink: 0;
            font-size: 22px;
         }
         input{
            border: 0;
            background: transparent;
            width: 100%;
            font-size: 18px;
         }
         button{
            border: 0;
            color: #000;
            text-transform: uppercase;
            background: transparent;
            flex-shrink: 0;
            font-weight: 400;
            font-size: 18px;
         }
      }
   }
}
@media screen and (max-width: 991px){
   .tc-blog-style7 .tc-blog-slider7 .swiper-button-next, .tc-blog-style7 .tc-blog-slider7 .swiper-container-rtl .swiper-button-prev{
      right: calc(50% - 50px);
      top: calc(100% - 80px);
   }
   .tc-blog-style7 .tc-blog-slider7 .swiper-button-prev, .tc-blog-style7 .tc-blog-slider7 .swiper-container-rtl .swiper-button-next{
      left: calc(50% - 50px);
      top: calc(100% - 80px);
   }
}