/* --------------- contact style1 --------------- */
.tc-contact-style1{
   position: relative;
   padding: 40px 0 300px;
   overflow: hidden;
   background: linear-gradient(to top, #d7d7e2 ,#e0dfe8 );

   // &::after{
   //    position: absolute;
   //    content: "";
   //    left: 0;
   //    bottom: 0;
   //    width: 100%;
   //    height: 100%;
   //    background: linear-gradient(to top, #d7d7e2 ,#e0dfe8 );
   //    z-index: 1;
   // }

   .form{
      .form-group{
         margin-bottom: 30px;
         .form-control{
            background-color: #fff;
         }
      }
   }

   .contact1_shap{
      position: absolute;
      left: calc(50% - 180px);
      bottom: -80px;
      width: 360px;
      height: 300px;
      object-fit: contain;
      z-index: 10;
      filter: drop-shadow(-10px 20px 30px #0005);
   }

   // ------------ form -----------
   .form-control{
      min-height: 70px;
      border-radius: 12px;
      font-size: 16px;
      border: 1px solid transparent;
      padding: 20px;
      &::placeholder{
         color: #999999;
      }
      &:focus{
         box-shadow: none;
         border-color: var(--color-orange1);
      }
   }

   select.form-control{
      padding: 0 20px;
   }

   .form-check-input[type="checkbox"]{
      // border-radius: 0 !important;
   }

   .form-check-input:checked {
      background-color: var(--color-orange1);
      border-color: var(--color-orange1);
   }
}


/* --------------- contact style3 --------------- */
.tc-contact-style3{
   background-color: var(--color-darkBlue1);
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   .content{
      padding: 130px 0;
      border-top: 1px solid #fff3;

      .contact-side{
         .contact-form{
            .form-group{
               margin-top: 30px;
               .form-control{
                  background-color: var(--color-darkBlue1);
                  border: 0;
                  border-bottom: 1px solid #666;
                  border-radius: 0;
                  padding: 15px 0;
                  color: #fff;
                  &:focus{
                     border-color: #fff;
                  }
                  &::placeholder{
                     color: #666;
                  }
               }
            }

            .form-check-label{
               color: #fff;
               font-size: 14px;
            }

            .form-check-input{
               width: 25px;
               height: 25px;
               margin-top: -2px;
               margin-inline-end: 10px;
               background-color: #0003;
               border-color: #0005;
            }
            .upload_img_content{
               color: #fff;
               margin-top: 50px;
         
               .file__input--file{
                   display: none;
               }
               
               .file__input--label{
                  cursor: pointer;
                  text-transform: uppercase;
                  font-size: 16px;
                  font-weight: 200;
                  i{
                     margin-inline-end: 10px;
                     font-size: 21px;
                  }
               }
         
               .file__value_content{
                  display: flex;
                  flex-wrap: wrap;
                   .file__value{
                     display: flex;
                     padding: 15px;
                     margin-top: 15px;
                     background-color: #fff1;
                     width: 31%;
                     margin-inline-end: 2%;
                       .file__value--text{
                        width: calc(100% - 30px);
                        overflow: hidden;
                       }
                   }
               }
         
               .file__value--remove{
                  cursor: pointer;
                  margin-inline-start: 10px;
               }
           }
         }
      }

      .faq-side{
         padding: 40px;
         border-radius: 30px;
         border: 1px solid #9995;
         .accordion{
            .accordion-item{
               background: transparent;
               border-radius: 0;
               border: 0;
               .accordion-button{
                  font-size: 18px;
                  font-weight: bold;
                  color: #fff;
                  background: transparent;
                  box-shadow: none;
                  padding: 22px 0;
                  border-bottom: 1px solid #9994;
                  padding-right: 50px;
                  &::after{
                     position: absolute;
                     right: 0;
                     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(58deg) brightness(104%) contrast(102%);
                  }
               }
               .accordion-button:not(.collapsed){
                  background: transparent;
                  color: var(--color-cyan1);
                  &::after{
                     filter: invert(52%) sepia(91%) saturate(2479%) hue-rotate(133deg) brightness(103%) contrast(95%);
                  }
               }
               .accordion-body{
                  padding: 20px 0;
               }
            }
         }
      }
   }


}


/* --------------- contact style7 --------------- */
.tc-contact-style7{
   position: relative;
   &::after{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: var(--color-orange2);
   }
   .info{
      position: relative;
      z-index: 10;
   }

   
   .map{
      position: relative;
      z-index: 10;
      overflow: hidden;
      iframe{
         margin-bottom: -6px;
         filter: grayscale(1);
      }
   }
}
@media screen and (min-width: 1200px){
   .tc-contact-style7{
      .info{
         padding-left: calc((100vw - 1310px) / 2);
      }
   }
}
@media screen and (max-width: 991px){
   .tc-contact-style7{
      .info{
         padding: 0 20px;
      }
      &::after{
         width: 100%;
      }
   }
}