/* --------------- footer  --------------- */
.fixed-footer{
   max-height: 100vh;
   overflow: scroll;

   &::-webkit-scrollbar {
      height: 0;
      width: 0;
      background: transparent;
      border-radius: 0;
  }
  
  &::-webkit-scrollbar-thumb {
      background: transparent;
      -webkit-border-radius: 0;
      border-radius: 0;
  }
  
  &::-webkit-scrollbar-corner {
      background: transparent;
      border-radius: 0;
  }
}


/* --------------- footer style 1 --------------- */
.tc-footer-style1{
   background-color: #29292b;

   .content{
      margin-top: 130px;

      a:hover{
         color: #fff;
      }
   
      .foot-logo{
         margin-bottom: 40px;
         img{
            width: 170px;
         }
      }
   
      .text{
         font-size: 16px;
         color: #999;
         margin-bottom: 20px;
      }
   
      .foot-link{
         font-size: 16px;
         color: #999;
         text-transform: uppercase;
         margin-bottom: 20px;
         display: block;
         width: max-content;
         &:hover{
            color: #fff;
         }
      }
   
      .foot-title{
         h6{
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 50px;
         }
      }
      
      .subs-group{
         display: flex;
         padding: 10px 0;
         border-bottom: 1px solid #545455;
         font-size: 16px;
   
         .icon{
            color: #666;
            margin-inline-end: 15px;
            flex-shrink: 0;
            font-size: 18px;
         }
   
         input{
            border: 0;
            background: transparent;
            width: 100%;
            color: #fff;
            &::placeholder{
               color: #666;
            }
         }
   
         button{
            border: 0;
            color: #fff;
            text-transform: uppercase;
            background: transparent;
         }
      }
   
      .foot{
         margin-top: 100px;
         padding: 40px 0;
         border-top: 1px solid #49494b;
   
         a:hover{
            color: #fff !important;
         }
   
         .foot-social-links{
            text-align: center;
            a{
               font-size: 14px;
               color: #999;
               margin: 0 15px;
            }
         }
      }
   }

}


/* --------------- footer style 2 --------------- */
.tc-footer-style2{
   .content{
      margin-top: 160px;
   }
   .sm-title{
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 35px;
   }

   a{
      font-size: 16px;
      color: #666;
      margin: 5px 0;
      &:hover{
         text-decoration: underline;
         color: var(--color-blue1);
      }
   }

   .subscribe-side{
      .form-group{
         display: flex;
         align-items: center;
         border-bottom: 1px solid #9993;
         padding-bottom: 10px;
         .icon{
            margin-inline-end: 10px;
            flex-shrink: 0;
            font-size: 18px;
         }
         input{
            width: 100%;
            border: 0;
            background: transparent;
            font-size: 16px;
         }
         button{
            border: 0;
            background: transparent;
            flex-shrink: 0;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
         }
      }
   }
}


/* --------------- footer style 3 --------------- */
.tc-footer-style3{
   .social-icons{
      a{
         width: 35px;
         height: 35px;
         line-height: 35px;
         text-align: center;
         border-radius: 50%;
         border: 1px solid #999;
         margin-inline-end: 5px;
         &:hover{
            color: #fff;
            background-color: var(--color-cyan1);
            border-color: var(--color-cyan1);
         }
      }
   }
   .sub-title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
      text-transform: uppercase;
   }
   .foot-links{
      .links{
         li{
            margin: 10px 0;
            a{
               font-size: 16px;
               color: #666;
               text-transform: capitalize;
               &:hover{
                  color: #000;
                  text-decoration: underline;
                  font-weight: bold;
               }
            }
         }
      }
   }
   .foot-subcribe{
      .form-group{
         display: flex;
         align-items: center;
         border-bottom: 1px solid #999;
         .icon{
            flex-shrink: 0;
            margin-inline-end: 5px;
         }
         .form-control{
            border: 0;
            border-radius: 0;
         }
         button{
            flex-shrink: 0;
            margin-inline-start: 10px;
            border: 0;
            background: transparent;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
         }
      }
   }
}


/* --------------- footer style 4 --------------- */
.tc-footer-style4{
   li{
      margin-bottom: 15px;
   }
   a{
      &:hover{
         color: var(--color-lightGreen);
      }
   }
   .social-icons{
      a{
         font-size: 22px;
         margin-inline-end: 30px;
         padding: 5px 0;
         border-bottom: 3px solid transparent;
         &:hover{
            color: var(--color-lightGreen);
            border-color: var(--color-lightGreen);
         }
      }
   }
   .subs-group{
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #999;
      font-size: 16px;

      .icon{
         margin-inline-end: 15px;
         flex-shrink: 0;
         font-size: 18px;
      }

      input{
         border: 0;
         background: transparent;
         width: 100%;
         &::placeholder{
            color: #666;
         }
      }

      button{
         border: 0;
         color: #000;
         text-transform: uppercase;
         background: transparent;
         flex-shrink: 0;
         font-weight: 400;
      }
   }

   .insta-imgs{
      margin-top: 60px;
      .img{
         height: 300px;
         position: relative;
         overflow: hidden;
         display: block;
         &::after{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffffd2;
            opacity: 0;
            transition: all 0.4s ease;
            transform: scale(0.9);
         }
         .icon{
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50% , -50%);
            font-size: 50px;
            color: #000;
            z-index: 10;
            opacity: 0;
            transition: all 0.4s ease;
         }
         &:hover{
            &::after{
               transform: scale(1);
               opacity: 1;
            }
            .icon{
               top: 50%;
               opacity: 1;
            }
         }
      }
   }
}
@media screen and (max-width: 991px) {
   .tc-footer-style4 {
      .foot-info{
         margin-bottom: 50px;
      }
      .foot-subscribe{
         margin-top: 50px;
      }
      .insta-imgs .img{
         height: 150px;
      }
   }
}


/* --------------- footer style 5 --------------- */
.tc-footer-style5{
   border-top: 1px solid #999;
   li{
      margin-bottom: 15px;
   }
   a{
      &:hover{
         color: var(--color-red1);
      }
   }
   .social-icons{
      a{
         width: 35px;
         height: 35px;
         line-height: 35px;
         border: 1px solid #999;
         border-radius: 50%;
         text-align: center;
         margin-inline-end: 10px;
         font-size: 16px;
         &:hover{
            background-color: var(--color-red1);
            color: #fff;
         }
      }
   }
   .subs-group{
      display: flex;
      padding: 10px 0;
      border: 1px solid #999;
      font-size: 16px;
      border-radius: 50px;
      padding: 5px 5px 5px 20px;
      align-items: center;

      .icon{
         margin-inline-end: 15px;
         flex-shrink: 0;
         font-size: 18px;
      }

      input{
         border: 0;
         background: transparent;
         width: 100%;
         &::placeholder{
            color: #666;
         }
      }

      button{
         flex-shrink: 0;
         width: 35px;
         height: 35px;
         line-height: 35px;
         border: 1px solid #999;
         border-radius: 50%;
         text-align: center;
         font-size: 16px;
         background-color: var(--color-red1);
         color: #fff;
      }
   }
}


/* --------------- footer style 6 --------------- */
.tc-footer-style6{
   border-top: 1px solid #999;
   .content{
      .item{
         padding: 90px 50px;
      }
   }
   .social-links{
      a{
         width: 40px;
         height: 40px;
         line-height: 38px;
         border: 1px solid #9995;
         border-radius: 50%;
         text-align: center;
         margin: 0 5px;
         font-size: 18px;
         &:hover{
            background-color: var(--color-cyan3);
         }
      }
   }
   .subs-group{
      display: flex;
      padding: 10px 0;
      border: 1px solid #999;
      font-size: 16px;
      border-radius: 50px;
      padding: 5px 5px 5px 20px;
      align-items: center;

      .icon{
         margin-inline-end: 15px;
         flex-shrink: 0;
         font-size: 18px;
      }

      input{
         border: 0;
         background: transparent;
         width: 100%;
         &::placeholder{
            color: #666;
         }
      }

      button{
         flex-shrink: 0;
         width: 35px;
         height: 35px;
         line-height: 33px;
         border: 1px solid #999;
         border-radius: 50%;
         text-align: center;
         font-size: 16px;
         background-color: var(--color-cyan3);
         color: #000;
      }
   }

   .foot{
      border-top: 1px solid #999;
      padding: 60px 0;
      .links{
         text-align: center;
         a{
            font-size: 16px;
            text-transform: uppercase;
            margin: 0 20px;
            &:hover{
               color: var(--color-cyan3);
               text-decoration: underline;
            }
         }
      }
   }
}
@media screen and (max-width: 991px){
   .tc-footer-style6{
      .content {
         margin-bottom: 30px;
         .item{
            padding: 60px 30px 0;
         }
      }
      .foot .links{
         text-align: start;
         margin: 20px 0;
         a{
            display: block;
            width: max-content;
            margin: 10px 0;
         }
      }
   }
}


/* --------------- footer style 7 --------------- */
.tc-footer-style7{
   background-color: #2c2d30;
   padding: 110px 0;
   .links{
      a{
         font-size: 18px;
         text-transform: uppercase;
         color: #ccc;
         margin: 0 40px;
         &:hover{
            color: #fff;
         }
      }
   }
   .social-icons{
      display: flex;
      justify-content: center;
      a{
         border: 1px solid #fff9;
         padding: 8px 12px;
         color: #fff;
         margin-right: -1px;
         text-transform: capitalize;
         &:hover{
            background-color: var(--color-orange2);
            border-color: var(--color-orange2);
            color: #000;
         }
      }
   }
}
@media screen and (max-width: 991px){
   .tc-footer-style7 {
      .links a{
         font-size: 10px;
         margin: 0 10px;
      }
      .social-icons {
         a{
            padding: 5px 10px;
            font-size: 10px;
         }
      }
   }
}


/* --------------- tc-footer-style9 --------------- */
.tc-footer-style9{
   .foot-links{
      a{
         font-size: 14px;
         color: #a2a2a2;
         margin-inline-end: 20px;
         &:hover{
            color: var(--color-blue3);
         }
      }
   }
   .sub-title{
      font-size: 20px;
      font-weight: 900;
      display: block;
      width: max-content;
      position: relative;
      padding-right: 5px;
      margin-bottom: 45px;
      &::after{
         position: absolute;
         content: ".";
         color: var(--color-red2);
         right: 0;
         bottom: 0;
      }
   }

   .links{
      a{
         color: #777;
         text-transform: capitalize;
         margin-bottom: 20px;
         &:hover{
            color: var(--color-blue3);
         }
      }
   }

   .subs-foot{
      .form-group{
         position: relative;
         .form-control{
            margin-bottom: 30px;
            box-shadow: 0 0 20px #0001;
            padding-left: 30px;
            border: 1px solid #9992;
            border-radius: 10px;
            min-height: 50px;
         }
         .icon{
            position: absolute;
            left: 10px;
            top: 14px;
         }
      }
   }

   .foot{
      margin-top: 100px;
      border-top: 1px solid #9993;
      padding: 30px 0;
   }
}
@media screen and (max-width: 991px){
}


/* --------------- tc-footer-style14 --------------- */
.tc-footer-style14{
   position: relative;
   padding: 140px 0;
   background-color: #f5f5f5;
   text-transform: capitalize;
   overflow: hidden;
   a{
      &:hover{
         color: var(--color-blue3);
      }
   }
   .img-logo{
      width: 100px;
   }
   .links{
      li{
         margin-bottom: 28px;
         &:last-of-type{
            margin-bottom: 0;
         }
         a{
            i{
               width: 35px;
            }
         }
      }
   }
   .lg-text{
      color: #fbfbfb;
      font-size: calc(20vw + 30px);
      font-weight: bolder;
      text-transform: capitalize;
      text-shadow: 5px 5px 20px #0001;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 0.6;
      pointer-events: none;
   }
}

@media screen and (max-width: 991px){
   .tc-footer-style14{
      padding: 100px 0;
      .mb-50{
         margin-bottom: 35px !important;
      }
   }
}

/* --------------- tc-footer-style15 --------------- */
.tc-footer-style15{
   position: relative;
   background-color: #121212;
   padding-top: 90px;
   .l_line{
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
   }
   .r_line{
      position: absolute;
      right: 0;
      top: 0;
      pointer-events: none;
   }
   .foot-logo{
      img{
         width: 100px;
         margin-bottom: 40px;
      }
   }
   .social-links{
      margin-top: 150px;
      a{
         color: #555;
         margin-inline-end: 15px;
         &:hover{
            color: #fff;
         }
      }
   }
   .sub-title{
      font-size: 14px;
      display: block;
      width: max-content;
      position: relative;
      padding-right: 5px;
      margin-bottom: 45px;
      text-transform: uppercase;
      color: #fff;
      &::after{
         position: absolute;
         content: ".";
         color: var(--color-red2);
         right: 0;
         bottom: 0;
      }
   }

   .links{
      a{
         color: #999;
         text-transform: capitalize;
         margin-bottom: 20px;
         &:hover{
            color: #fff;
         }
      }
   }

   .foot{
      padding: 30px 0;
      margin-top: 90px;
      border-top: 1px solid #fff2;
   }
}

@media screen and (max-width: 991px){
   .tc-footer-style15{
      .social-links {
         margin-top: 50px;
      }
   }
}

/* --------------- tc-footer-style18 --------------- */
.tc-footer-style18{
   background-color: var(--color-blue3);
   color: #fff;
   padding-top: 120px;
   .foot-item{
      ul{
         li{
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            .icon{
               opacity: 0.3;
               width: 30px;
               flex-shrink: 0;
               margin-top: 3px;
            }
         }
      }
   }

   .tc-footer-slider18{
      padding-left: 50px;
      position: relative;
      .swiper-pagination{
         position: absolute;
         left: 0;
         top: 20px;
         width: max-content;
         .swiper-pagination-bullet{
            display: block;
            height: 25px;
            width: 4px;
            background-color: #fff;
            border-radius: 5px;
            opacity: 0.2;
            margin-bottom: 10px;
            &.swiper-pagination-bullet-active{
               height: 35px;
               opacity: 1;
            }
         }
      }
   }

   .foot{
      padding-bottom: 50px;
      margin-top: 100px;
      .foot-logo{
         img{
            width: 100px;
         }
      }
      .foot-links{
         a{
            margin-inline-start: 60px;
            text-transform: capitalize;
         }
      }
      .foot-social{
         a{
            margin-inline-start: 20px;
         }
      }
   }
}

@media screen and (max-width: 991px){
   .tc-footer-style18{
      .tc-footer-slider18{
         padding-left: 30px;
         .foot-item{
            margin-bottom: 30px;
         }
      }
      .foot {
         margin-top: 30px;
         .foot-links a{
            margin-inline-start: 0;
            margin-inline-end: 10px;
         }
      }
   }
}


/* --------------- tc-footer-style19 --------------- */
.tc-footer-style19{
   position: relative;
   background-image: linear-gradient( to top, #ffffff 0%, #edf1f5 100%);
   overflow: hidden;
   .line1{
      position: absolute;
      left: 0;
      bottom: 100px;
      width: 30%;
      object-fit: cover;
      object-position: bottom;
      pointer-events: none;
   }
   .line2{
      position: absolute;
      right: 0;
      bottom: 130px;
      width: 30%;
      object-fit: cover;
      object-position: left;
      pointer-events: none;
   }
   .content{
      padding: 120px 0;
      .foot-subs{
         .form-group{
            height: 55px;
            border-radius: 50px;
            background-color: #fff;
            box-shadow: 0px 16px 32px 0px #0000000f;
            display: flex;
            align-items: center;
            padding: 0 30px;
            margin-bottom: 50px;
            .icon{
               flex-shrink: 0;
               margin-inline-end: 5px;
            }
            input{
               width: 100%;
               border: 0;
            }
            button{
               border: 0;
               background-color: transparent;
               flex-shrink: 0;
               font-weight: bold;
            }
         }
      }
      .links{
         li{
            margin-bottom: 20px;
            a{
               font-size: 14px;
               color: #777;
               &:hover{
                  color: var(--color-red3);
               }
            }
         }
      }
      .foot-contact{
         li{
            margin-bottom: 20px;
            a{
               font-size: 14px;
               color: #000;
               font-weight: bold;
               &:hover{
                  color: var(--color-red3);
               }
            }
         }
      }
   }
}

/* --------------- tc-footer-style20 --------------- */
.tc-footer-style20{
   position: relative;
   padding: 120px 0;

   .foot-shap{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      pointer-events: none;
   }
}

@media screen and (max-width: 991px){
   .tc-footer-style20 {
      padding: 50px 0;
      .mb-100 {
         margin-bottom: 30px !important;
     }

     .fsz-30 {
         font-size: 20px !important;
      }
   }
}
