/* --------------- tc-letsChat-style2 --------------- */
.tc-letsChat-style2{
   background-color: var(--color-blue1);
   color: #fff;
   .info{
      padding: 160px 0;
      h3{
         font-size: 62px;
         margin-bottom: 30px;
      }
      p{
         font-size: 18px;
         color: #ccccff;
      }
   }
}


/* --------------- tc-letsChat-style5 --------------- */
.tc-letsChat-style5{
   text-align: center;
   padding: 150px 0 100px;
   background-color: var(--color-darkBlue2);
   color: #fff;
   border-radius: 30px;
   margin-top: -50px;
}