/* --------------- navbar style --------------- */
.navbar-container {
    position: relative;
    z-index: 999;
}

.navbar {
    z-index: 99;

    .dropdownMenu {
        position: absolute;
        min-width: 200px;
        padding: 0;
        border-radius: 0;
        border: 0;
        box-shadow: 0 0 20px #0001;
        transition: all 0.3s ease;
        top: 110px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;

        .dropdown-item {
            padding: 10px 20px;
            font-size: 14px;
            border-bottom: 1px solid #9992;
        }

        li:last-of-type {
            .dropdown-item {
                border: 0;
            }
        }
    }

    .dropdown:hover {
        .dropdownMenu {
            opacity: 1;
            visibility: visible;
            top: 100%;
        }
    }
}


/* --------------- navbar style1 --------------- */
.navbar.style1 {
    padding: 40px 0;
    background-color: #fff;

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 16px;
                margin: 0 15px;
                text-transform: uppercase;
                font-weight: bold;
                color: #999;

                &:hover,
                &.active {
                    color: #000;
                }
            }
        }
    }

    .canvas-btn-style1 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #9996;
        margin-inline-start: 15px;
        font-size: 21px;
        cursor: pointer;
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
}


/* --------------- navbar style3 --------------- */
.text-nav3 {
    position: relative;
    z-index: 10;

    .close-btn {
        position: absolute;
        right: 70px;
        top: 17px;
        cursor: pointer;
        z-index: 10;
    }
}

.navbar.style3 {
    background-color: #fff;

    &.top-navbar {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -1px;
    }

    &.links-navbar {
        position: relative;
        z-index: 99;
        padding: 30px 0;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 16px;
                    color: #000;
                    text-transform: uppercase;
                    padding: 0;
                    margin-inline-end: 40px;

                    &:hover {
                        color: var(--color-cyan1);
                    }
                }
            }
        }
    }
}


/* --------------- navbar style4 --------------- */
.navbar.style4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;

    .logo-side {
        border-left: 10px solid var(--color-lightGreen);

        .logo-brand {
            padding: 40px 60px;

            .logo {
                width: 140px;
            }
        }
    }

    .info-side {
        background-color: var(--color-lightGreen);
        display: flex;
        align-items: center;
        padding: 40px 70px;

        .item {
            width: 33%;
            font-size: 16px;
        }

        .nav-icons {
            margin-inline-start: auto;
            margin-inline-end: 0;
            width: 33%;
            position: relative;

            a {
                position: relative;
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 50%;
                border: 1px solid #000;
                text-align: center;
                font-size: 14px;
                margin-inline-start: 10px;

                i {
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                }

                &:hover,
                &.active {
                    background-color: #000;
                    color: #fff;
                }

                &.side_menu_btn {
                    .cls {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        border: 1px solid #000;
                        color: #fff;
                        border-radius: 50%;
                        transform: scale(0);
                        opacity: 0;
                        transition: all 0.3s ease;
                        pointer-events: none;
                    }

                    &.active {
                        background-color: transparent;
                        color: #000;

                        .cls {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .nav-search-box {
        position: absolute;
        background-color: #fff;
        box-shadow: 5px 5px 20px #fff1;
        left: 0;
        top: calc(100% + 15px);
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: all 0.3s ease;
        box-shadow: 0 0 20px #0001;

        &.show {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        .form-group {
            display: flex;

            input {
                width: 100%;
                background-color: transparent;
                border: 1px solid #9993;
                border-right: 0;
                border-radius: 8px 0 0 8px;
                min-height: 50px;
                color: #000;
                padding: 12px 15px;

            }

            button {
                flex-shrink: 0;
                border-radius: 0 8px 8px 0;
                border: 1px solid #9993;
                background-color: #9993;
                padding: 10px;
                color: #000;
                margin-left: -2px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: var(--color-lightGreen);
                    color: #fff;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .navbar.style4 {
        .logo-side {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 10px solid var(--color-lightGreen);
            width: 100vw;

            .logo-brand{
                padding: 20px 30px;
            }

            .info-side{
                background: transparent;
                font-size: 30px;
                color: #fff;
                word-spacing: 10px;
            }
        }

        .info-side {
            padding: 15px;
            flex-wrap: wrap;

            .item {
                width: 100%;

                a {
                    padding: 5px 0;
                }
            }

            .nav-icons {
                width: 100%;
                margin-top: 20px;
                position: relative;

                a {
                    margin-inline-start: 0;
                    margin-inline-end: 10px;
                }
            }
        }

        br {
            display: none;
        }
    }
}

/* --------------- navbar style5 --------------- */
.navbar.style5 {
    padding: 30px 0;

    .logo-search-side {
        display: flex;
        align-items: center;

        .form-select {
            border: 0;
            width: max-content;
            margin-inline-start: 70px;
        }

        .search-form {
            position: relative;
            margin-inline-start: 15px;
            flex-grow: 1;

            .search-btn {
                position: absolute;
                left: 10px;
                top: 12px;
                background-color: transparent;
                border: 0;
            }

            .form-control {
                border-radius: 30px;
                border: 1px solid #9993;
                font-size: 14px;
                padding: 12px 30px 12px 40px;

                &::placeholder {
                    color: #999;
                }
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 16px;
                margin: 0 10px;
                font-weight: 600;
                color: #000;

                &:hover,
                &.active {
                    color: var(--color-red1);
                }
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;

        a {
            margin-inline-end: 20px;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style5 {
        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: 100%;
            }

            .form-select,
            .search-form {
                display: none;
            }
        }
    }
}

/* --------------- navbar style6 --------------- */
.navbar.style6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 18px;
                margin: 0 15px;
                opacity: 1;
                color: #fff;
                border-bottom: 1px solid transparent;

                &.active,
                &:hover {
                    border-color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style6 {
        position: relative;
        margin-bottom: 30px;

        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: calc(100% - 70px);
            }
        }
    }
}


/* --------------- navbar style7 --------------- */
.navbar.style7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .main-nav {
        padding: 30px 0;
        position: relative;
        z-index: 999;

        .top-btns {
            position: relative;
            display: flex;

            a {
                border: 1px solid #fff9;
                padding: 8px 12px;
                color: #fff;
                margin-right: -1px;
                text-transform: capitalize;

                &:hover {
                    background-color: var(--color-orange2);
                    border-color: var(--color-orange2);
                    color: #000;
                }
            }
        }
    }

    .navbar-links {
        border-top: 1px solid #fff5;

        .nav-item {
            .nav-link {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                padding: 30px 40px;
                margin-top: -2px;
                border-top: 3px solid transparent;

                &:hover,
                &.active {
                    border-color: #fff;
                }
            }
        }
    }

    .nav-search-box {
        position: absolute;
        background-color: #fff;
        box-shadow: 5px 5px 20px #fff1;
        left: 0;
        top: calc(100% + 15px);
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: all 0.3s ease;
        box-shadow: 0 0 20px #0001;

        &.show {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        .form-group {
            display: flex;

            input {
                width: 100%;
                background-color: transparent;
                border: 1px solid #9993;
                border-right: 0;
                border-radius: 8px 0 0 8px;
                min-height: 50px;
                color: #000;
                padding: 12px 15px;

            }

            button {
                flex-shrink: 0;
                border-radius: 0 8px 8px 0;
                border: 1px solid #9993;
                background-color: #9993;
                padding: 10px;
                color: #000;
                margin-left: -2px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: var(--color-orange2);
                    color: #fff;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .navbar.style7 {
        .navbar-toggler {
            float: right;
        }

        .navbar-links {
            background-color: #202124;

            .nav-item .nav-link {
                padding: 15px;
            }
        }
    }
}


/* --------------- navbar style9 --------------- */
.navbar.style9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
                margin: 0 15px;
                opacity: 1;
                color: #fff;
                text-transform: capitalize;

                &:hover,
                &.active {
                    color: var(--color-blue3);
                }
            }
        }
    }

    .r-side {
        position: relative;

        .nav-search-box {
            position: absolute;
            background-color: #fff;
            box-shadow: 5px 5px 20px #fff1;
            left: 0;
            top: calc(100% + 15px);
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            transition: all 0.3s ease;
            box-shadow: 0 0 20px #0001;

            &.show {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }

            .form-group {
                display: flex;

                input {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #9993;
                    border-right: 0;
                    border-radius: 8px 0 0 8px;
                    min-height: 50px;
                    color: #000;
                    padding: 12px 15px;

                }

                button {
                    flex-shrink: 0;
                    border-radius: 0 8px 8px 0;
                    border: 1px solid #9993;
                    background-color: #9993;
                    padding: 10px;
                    color: #000;
                    margin-left: -2px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: var(--color-blue3);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style9 {
        position: relative;
        background-color: #111;

        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: calc(100% - 70px);
            }
        }
    }
}

/* --------------- navbar style11 --------------- */
.navbar.style11 {
    position: relative;
    background-image: url(../img/showcase_3/navback.png);
    background-size: cover;
    padding: 30px 0;

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
                margin: 0 15px;
                opacity: 1;
                color: #fff;
                text-transform: capitalize;

                &:hover,
                &.active {
                    color: var(--color-blue3);
                }
            }
        }
    }

    .r-side {
        position: relative;

        .nav-search-box {
            position: absolute;
            background-color: #fff;
            box-shadow: 5px 5px 20px #fff1;
            left: 0;
            top: calc(100% + 15px);
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            transition: all 0.3s ease;
            box-shadow: 0 0 20px #0001;

            &.show {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }

            .form-group {
                display: flex;

                input {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #9993;
                    border-right: 0;
                    border-radius: 8px 0 0 8px;
                    min-height: 50px;
                    color: #000;
                    padding: 12px 15px;

                }

                button {
                    flex-shrink: 0;
                    border-radius: 0 8px 8px 0;
                    border: 1px solid #9993;
                    background-color: #9993;
                    padding: 10px;
                    color: #000;
                    margin-left: -2px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: var(--color-blue3);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style11 {
        position: relative;
        background-color: #111;

        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: calc(100% - 70px);
            }
        }
    }
}

/* --------------- navbar style12 --------------- */
.navbar.style12 {
    position: relative;
    // background-color: #fff;
    padding: 30px 0;

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
                margin: 0 15px;
                opacity: 1;
                color: #000;
                text-transform: capitalize;
                border-radius: 10px;
                padding: 8px 20px;

                &:hover,
                &.active {
                    box-shadow: 5px 10px 20px #0001;
                    background-color: #fff;
                }
            }
        }
    }

    .r-side {
        position: relative;

        .nav-search-box {
            position: absolute;
            background-color: #fff;
            box-shadow: 5px 5px 20px #fff1;
            left: 0;
            top: calc(100% + 15px);
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            transition: all 0.3s ease;
            box-shadow: 0 0 20px #0001;

            &.show {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }

            .form-group {
                display: flex;

                input {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #9993;
                    border-right: 0;
                    border-radius: 8px 0 0 8px;
                    min-height: 50px;
                    color: #000;
                    padding: 12px 15px;

                }

                button {
                    flex-shrink: 0;
                    border-radius: 0 8px 8px 0;
                    border: 1px solid #9993;
                    background-color: #9993;
                    padding: 10px;
                    color: #000;
                    margin-left: -2px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: var(--color-blue3);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style12 {
        position: relative;
        background-color: #fff;

        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: calc(100% - 70px);
            }
        }

        .navbar-collapse {
            margin-top: 30px;
        }

        .r-side {
            padding-inline-start: 35px;
        }
    }
}

/* --------------- navbar style13 --------------- */
.navbar-container.style13 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .navbar.style13 {
        padding: 25px 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 16px 32px 0px #0000000a;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                    font-weight: bold;
                    color: #000;
                    margin: 0 15px;

                    &:hover {
                        color: var(--color-red2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .top-navbar.style13 {
        padding-top: 250px;
    }

    .navbar.style13 {
        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: calc(100% - 60px);
            }
        }
    }
}


/* --------------- navbar style14 --------------- */
.top-navbar.style14 {
    position: relative;
    z-index: 999;

    .dropdown-toggle {
        padding: 10px 15px;
        background-color: #0002;
    }
}

.navbar.style14 {
    padding: 30px 0;
    background-color: #ecf0f3;

    .navbar-nav {
        .nav-item {
            .nav-link {
                margin: 0 35px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: #000;

                &:hover {
                    color: var(--color-blue4);
                }
            }
        }
    }

    .r-side {
        position: relative;

        .nav-search-box {
            position: absolute;
            background-color: #fff;
            box-shadow: 5px 5px 20px #fff1;
            right: 0;
            top: calc(100% + 15px);
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            transition: all 0.3s ease;
            box-shadow: 0 0 20px #0001;
            min-width: 300px;

            &.show {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }

            .form-group {
                display: flex;

                input {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #9993;
                    border-right: 0;
                    border-radius: 8px 0 0 8px;
                    min-height: 50px;
                    color: #000;
                    padding: 12px 15px;

                }

                button {
                    flex-shrink: 0;
                    border-radius: 0 8px 8px 0;
                    border: 1px solid #9993;
                    background-color: #9993;
                    padding: 10px;
                    color: #000;
                    margin-left: -2px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: var(--color-blue4);
                        color: #fff;
                    }
                }
            }
        }

        .dots-icon {
            span {
                width: 5px;
                height: 5Px;
                border-radius: 50%;
                background-color: #000;
                display: block;
                margin: 1px;

                &:nth-of-type(2) {
                    background-color: var(--color-blue4);
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .navbar.style14 {
        background-color: #fff;

        .logo-search-side {
            width: 100%;

            .logo-brand {
                width: calc(100% - 60px);
            }
        }

        .navbar-nav {
            padding-top: 20px;

            .nav-item .nav-link {
                margin: 10px 0;
            }
        }
    }
}


/* --------------- navbar style15 --------------- */
.navbar.style15 {
    .top-nav {
        padding: 45px 0;
        border-bottom: 1px solid #9992;

        .social-links {
            .s-links {
                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid #9992;
                    margin-inline-start: 10px;
                }
            }
        }
    }

    .links {
        position: relative;
        border-bottom: 1px solid #9992;
        transition: all 0.3s ease;
        overflow: hidden;

        .container {
            position: relative;
            padding: 45px 0;
            z-index: 10;
        }

        &:hover {
            background-color: #000;

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: #999;

                        p {
                            color: #999;
                        }

                        &:hover {
                            color: #fff;

                            p {
                                color: var(--color-red4);
                            }

                            .mirror {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .mirror {
            position: absolute;
            font-size: 100px;
            color: #fff9;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            white-space: nowrap;
            font-size: 160px;
            line-height: 0.8;
            font-family: 'roxborough_bold';
            color: #171616;
            z-index: -1;
            opacity: 0;
            transition: all 0.4s ease;
        }

        .navbar-nav {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .nav-item {
                width: calc(100% / 6);

                .nav-link {
                    font-size: 14px;
                    color: #000;
                    width: max-content;
                    text-transform: capitalize;

                    p {
                        color: #c9c9c9;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style15 {
        .top-nav {
            padding: 20px 0;

            .nav-inf,
            .social-links {
                display: none !important;
            }

            .logo-brand {
                width: calc(100% - 60px);
            }
        }

        .links {
            .container {
                padding: 0 !important;
            }

            .navbar-nav {
                padding: 20px;

                .nav-item {
                    .nav-link {
                        .mirror {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


/* --------------- navbar style16 --------------- */
.navbar.style16 {
    .main-nav {
        padding: 40px 5vw;
        background-color: #fff;
        box-shadow: 0px 16px 32px 0px #0000000a;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                    color: #000;
                    font-weight: bold;
                    margin: 0;
                    margin-inline-end: 60px;
                    padding: 0;
                }
            }
        }

        .r-side {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: end;

            .call-info {
                padding-inline-end: 25px;
                margin-inline-end: 25px;
                border-inline-end: 1px solid #9993;
            }
        }
    }

    .nav-search-box {
        position: absolute;
        background-color: #fff;
        box-shadow: 5px 5px 20px #fff1;
        right: 0;
        top: calc(100% + 15px);
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: all 0.3s ease;
        box-shadow: 0 0 20px #0001;
        min-width: 300px;
        max-width: 350px;

        &.show {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        .form-group {
            display: flex;

            input {
                width: 100%;
                background-color: transparent;
                border: 1px solid #9993;
                border-right: 0;
                border-radius: 8px 0 0 8px;
                min-height: 50px;
                color: #000;
                padding: 12px 15px;

            }

            button {
                flex-shrink: 0;
                border-radius: 0 8px 8px 0;
                border: 1px solid #9993;
                background-color: #9993;
                padding: 10px;
                color: #000;
                margin-left: -2px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: var(--color-blue4);
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar.style16 {
        .side_menu_btn{
            display: none;
        }
        .main-nav {
            padding: 20px 5vw;

            .navbar-brand {
                width: calc(100% - 60px);
            }

            .r-side {
                justify-content: flex-start;

                .call-info {
                    margin-left: 0;
                    margin-right: auto;
                }
            }

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}