/* --------------- pricing style --------------- */
.tc-pricing-style1{
   padding: 140px 0;
   border-bottom: 1px solid #9993;
   
   .pricing-tabsHead{
       .price-radios{
           display: inline-flex;
           background-color: #ededf4;
           padding: 7px;
           border-radius: 50px;
           .form-check{
               margin: 0;
               padding: 0;
               .form-check-label{
                   color: #000;
                   background-color: transparent;
                   font-size: 16px;
                   font-weight: bold;
                   border-radius: 30px;
                   padding: 10px 15px;
                   text-transform: capitalize;
                   cursor: pointer;
                   small{
                       padding: 1px 5px;
                       font-size: 10px;
                   }
               }
               .form-check-input{
                   display: none;
               }
               .form-check-input:checked ~ .form-check-label{
                   background-color: #fff;
                   box-shadow: 0 5px 5px #0001;
               }
           }
       }
   }
   .content{
       min-width: 800px;
       margin-top: 70px;
       .price-head{
           display: flex;
           border-bottom: 1px solid #7f7f7f;
           .price-headTitle{
               width: 34%;
               .title-img{
                  max-height: 250px;
               }
           }
           .price-headItem{
               position: relative;
               width: 22%;
               text-align: center;
               padding: 50px 0 30px;
               border-top-left-radius: 15px;
               border-top-right-radius: 15px;
               .label{
                   position: absolute;
                   top: -30px;
                   right: 15px;
                   padding: 10px;
                   z-index: 5;
                   display: flex;
                   width: 80px;
                   height: 80px;
                   align-items: center;
                   justify-content: center;
                   text-align: center;
                   text-transform: uppercase;
                   font-size: 12px;
                   font-weight: bold;
                   background-image: url(../img/pricing/label.png);
                   background-size: contain;
                   background-position: center;
                   background-repeat: no-repeat;
                   color: #fff;
                   filter: drop-shadow(-10px 20px 30px #0005);
               }
               h6{
                   font-size: 16px;
                   font-weight: bold;
                   text-transform: uppercase;
                   margin-bottom: 10px;
               }
               h2{
                   font-size: 60px;
                   margin-bottom: 20px;
                   span{
                       font-size: 24px;
                       color: #999;
                       font-weight: 400;
                   }
               }
               small{
                   font-size: 15px;
                   color: #666;
                   display: block;
                   line-height: 1.5;
               }
           }
       }
       .price-body{
           .price-bodyItems{
               display: flex;
               border-bottom: 1px solid #f2f2f2;
               &:last-of-type{
                   border: 0;
               }
               .price-bodyTitle{
                   width: 34%;
                   padding: 30px 0;
                   font-size: 18px;
                   height: 75px;
                   display: flex;
                   align-items: center;
                   min-height: max-content;
                   position: relative;
                   .pop-info{
                       position: relative;
                       display: inline-block;
                       cursor: pointer;
                       i.bttn-info{
                           font-size: 24px;
                           color: #999;
                           margin: 0 6px;
                           &:hover{
                               color: var(--color-orange1);
                           }
                       }
                       .hidden_content{
                           position: absolute;
                           bottom: 15px;
                           left: 15px;
                           padding: 20px;
                           border-radius: 10px;
                           background-color: #f7f7f7;
                           // box-shadow: 0 0 20px #0001;
                           text-align: center;
                           width: 250px;
                           transition: all 0.4s ease;
                           opacity: 0;
                           visibility: hidden;
                           .title{
                               color: var(--color-orange1);
                               text-transform: uppercase;
                               margin-bottom: 5px;
                               font-size: 13px;
                               font-weight: 500;
                           }
                       }

                       &:hover{
                           .hidden_content{
                               opacity: 1;
                               visibility: visible;
                           }
                       }
                   }
               }
               .price-item{
                   width: 22%;
                   padding: 15px 0;
                   text-align: center;
                   height: 75px;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   min-height: max-content;
                   i{
                       color: #66cc00;
                       font-size: 25px;
                   }
                   span{
                       color: #000;
                       font-size: 18px;
                   }
               }
           }
       }
       .price-foot{
           display: flex;
           .price-footTitle{
               width: 34%;
           }
           .price-footItem{
               width: 22%;
               text-align: center;
               padding: 30px 0 50px;
               border-bottom-left-radius: 15px;
               border-bottom-right-radius: 15px;
           }
       }
   }

   .monthly_price{
       display: none;
   }
}

/* --------------- pricing style 5 --------------- */
.tc-pricing-style5{
    border: 1px solid #999;
    border-radius: 20px;
    .tabs{
        text-align: center;
        .cont{
            display: inline-flex;
            border: 1px solid #999;
            border-radius: 100px;
            padding: 10px;
            margin-bottom: 30px;
            a{
                color: #999;
                padding: 12px 40px;
                border: 1px solid transparent;
                border-radius: 100px;
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                .dis{
                    color: #fff;
                    background-color: var(--color-red1);
                    font-size: 13px;
                    border-radius: 30px;
                    border: 1px solid #999;
                    margin-inline-start: 20px;
                    padding: 5px 10px;
                }
                &.active{
                    color: #000;
                    border: 1px solid #999;
                }
            }
        }
    }

    .pricing-card{
        border: 1px solid #999;
        border-radius: 20px;
        padding: 30px;
        margin-top: 30px;
        &.popular-card{
            background-color: #f4eadc;
        }
        .card-head{
            padding-bottom: 30px;
            border-bottom: 1px solid #999;
            h5{
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
            }
            p{
                font-size: 13px;
                text-transform: uppercase;
            }
            h2{
                font-size: 40px;
                font-weight: bold;
            }
            small{
                font-size: 14px;
                color: #666;
            }
        }
        .card-body{
            padding: 30px 0 100px;
            position: relative;
            min-height: 330px;
            .button_su{
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .tc-pricing-style5 {
        .tabs {
            .cont {
                a{
                    padding: 5px 10px;
                    font-size: 12px;
                    .dis{
                        margin-inline-start: 5px;
                    }
                }
            }
        }
    }
 }

 /* --------------- pricing style 6 --------------- */
.tc-pricing-style6{
    background-color: #6b67e9;
    color: #fff;
    .pricing-card{
        border: 1px solid #fff5;
        border-radius: 20px;
        padding: 30px;
        margin-top: 30px;
        &.popular-card{
            box-shadow: 7px 7px 0 var(--color-cyan3);
            // border-right: 8px solid var(--color-cyan3);
            // border-bottom: 8px solid var(--color-cyan3);
        }
        .card-head{
            padding-bottom: 30px;
            border-bottom: 1px solid #fff5;
            h5{
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
            }
            p{
                font-size: 13px;
                text-transform: uppercase;
            }
            h2{
                font-size: 40px;
                font-weight: bold;
            }
            small{
                font-size: 14px;
            }
        }
        .card-body{
            padding: 30px 0 100px;
            position: relative;
            min-height: 300px;
            .button_su{
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px){
    .tc-pricing-style6{
       &.pt-150{
          padding-top: 50px !important;
       }
       &.pb-150{
          padding-bottom: 50px !important;
       }
       .fsz-70{
            font-size: 40px !important;
        }
        .fsz-35{
            font-size: 25px !important;
        }
        .pricing-card .card-body{
            min-height: max-content;
        }
    }
}