/* --------------- projects style1 --------------- */
.tc-projects-style1{
   padding: 140px  0;

   .content{
      position: relative;
      .feature-item{
         display: block;
         padding: 30px 0;
         border-bottom: 1px solid #9994;
         position: relative;
         h2{
            font-weight: bold;
            font-size: 36px;
            transition: all 0.3s ease;
         }
         small{
            font-size: 15px;
            color: #666;
         }
         &:hover{
            h2{
               color: var(--color-orange1);
            }
         }

         &:last-of-type{
            border: 0;
         }
      }
   }

   .hover-reveal{
      position: absolute !important;
      left: 50% !important;
      top: -150px !important;
      width: 660px;
      height: 420px;
      border-radius: 20px;
      overflow: hidden;
      z-index: 99999;
   }

}

// --------------- projects-style1 image effect -------------- 
.block[data-fx="1"] a::after,
a.content__text-link[data-fx="1"]::after,
.block[data-fx="2"] a::after,
a.content__text-link[data-fx="2"]::after {
   content: '';
   z-index: -1;
   width: 100%;
   bottom: 0.25rem;
   left: 0;
   position: absolute;
   height: 2px;
   background: currentColor;
   transform: scale3d(0,1,1);
   transform-origin: 0% 50%;
   transition: transform 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

a.content__text-link[data-fx="1"]::after,
a.content__text-link[data-fx="2"]::after {
   bottom: 0;
}

.block[data-fx="1"] a:hover::after,
a.content__text-link[data-fx="1"]:hover::after,
.block[data-fx="2"] a:hover::after,
a.content__text-link[data-fx="2"]:hover::after {
   transform: scale3d(1,1,1)
}

.block[data-fx="6"] a::after,
a.content__text-link[data-fx="6"]::after {
   content: '';
   z-index: -1;
   width: 100%;
   bottom: 0.25rem;
   left: 0;
   position: absolute;
   height: 2px;
   background: currentColor;
   transform: scale3d(0,1,1);
   transform-origin: 100% 50%;
   transition: transform 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

a.content__text-link[data-fx="6"]::after {
   bottom: 0;
}

.block[data-fx="6"] a:hover::after,
a.content__text-link[data-fx="6"]:hover::after {
   transform: scale3d(1,1,1)
}

.block[data-fx="14"] a::after,
a.content__text-link[data-fx="14"]::after {
   content: '';
   z-index: -1;
   width: 100%;
   bottom: 0.25rem;
   left: 0;
   position: absolute;
   height: 2px;
   background: currentColor;
   transform: scale3d(0,1,1);
   transform-origin: 0% 50%;
}

a.content__text-link[data-fx="14"]::after {
   bottom: 0;
}

.block[data-fx="14"] a:hover::after,
a.content__text-link[data-fx="14"]:hover::after {
   animation: loop 0.5s infinite;
}

@keyframes loop {
   0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
   50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
   51% { transform-origin: 100% 50%; }
   100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}

.hover-reveal {
   position: fixed;
   width: 200px;
   height: 150px;
   top: 0;
   left: 0;
   pointer-events: none;
   opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
   width: 100%;
   height: 100%;
   position: relative;
}

.hover-reveal__deco {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #181314;
}

.hover-reveal__img {
   background-size: cover;
   background-position: 50% 50%;
}


/* --------------- projects style2 --------------- */
.tc-projects-style2{
   padding-bottom: 160px;
   .project-card{
      display: block;
      height: 525px;
      position: relative;
      overflow: hidden;
      margin: 4px 0;
      .main-img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      .info{
         position: absolute;
         bottom: 15px;
         left: 15px;
         width: calc(100% - 30px);
         padding: 30px;
         background-color: #fff;
         display: flex;
         justify-content: space-between;
         align-items: center;
         opacity: 0;
         transform: translateY(100%) scale(0.8);
         transition: all 0.3s ease-in-out;
         .info-text{
            h3{
               font-size: 30px;
            }
            small{
               font-size: 14px;
               color: #999;
            }
         }
         .icon{
            font-size: 45px;
            flex-shrink: 0;
         }
      }
      &:hover{
         .info{
            opacity: 1;
            transform: translateY(0) scale(1);
         }
      }
   }
}


/* --------------- projects style4 --------------- */
.tc-projects-style4{
   position: relative;
   padding: 150px 0;
   background-color: #3c3b3a;
   color: #fff;

   .tc-projects-slider4{
      position: relative;
      cursor: grab;
      .swiper-container{
         padding-bottom: 100px;
         overflow: inherit;
         .swiper-pagination-progressbar{
            position: absolute;
            top: auto;
            left: 0;
            bottom: 0;
            background-color: #fff2;
         }
      }
      .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
         background-color: var(--color-lightGreen);
      }
   }

   .nav-pills{
      align-items: center;
      .nav-item{
         .nav-link{
            color: #fff;
            border: 1px solid #fff4;
            border-radius: 30px;
            padding: 8px 25px;
            margin-inline-end: 15px;
            text-transform: uppercase;
            &.active{
               background-color: var(--color-lightGreen);
               border-color: var(--color-lightGreen);
               color: #000;
            }
         }
      }
   }

   .project-card{
      position: relative;
      .img{
         height: 630px;
      }
      .info{
         padding: 50px 0;
         h6{
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            color: #999;
            margin-bottom: 15px;
            a{
               &:hover{
                  text-decoration: underline !important;
                  color: #fff;
               }
            }
         }
         h3{
            font-size: 48px;
            margin-bottom: 20px;
            font-weight: 400;
            a{
               &:hover{
                  color: var(--color-lightGreen);
               }
            }
         }
         p{
            font-size: 16px;
            color: #999;
         }
      }
   }

   .float_box{
      position: absolute;
      top: 60px;
      right: 0;
      width: 140px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #181818;
      border-radius: 50%;
      transition: all 0.1s ease;
      opacity: 0;
      transform: scale(0);
      z-index: 10;
      p{
         font-size: 14px;
         text-transform: uppercase;
         font-weight: bold;
         color: #fff;
         text-align: center;
      }

      &.show{
         opacity: 1;
         transform: scale(1);
      }
   }
}
@media screen and (max-width: 991px) {
   .tc-projects-style4{
      padding: 80px 0;
      .nav-pills {
         .nav-item {
            .nav-link {
               margin-bottom: 20px;
            }
         }
         .me-0 {
            margin-left: 0!important;
         }
         .ms-0 {
            margin-right: 0!important;
         }
      }

      .tc-projects-slider4 .swiper-container {
         padding-bottom: 30px;
      }

      .project-card {
         .img {
            height: 350px;
         }
         .info{
            h3{
               font-size: 25px;
            }
         }
      }
   }
}

/* --------------- tc-features-style2 --------------- */
.tc-projects-style5{
   background-color: #fff;
   border: 1px solid #999;
   border-radius: 30px;
   margin-top: -50px;
   position: relative;
   z-index: 10;
   .courses-features{
      padding: 70px 0;
      .features-card{
         display: flex;
         align-items: center;
         .icon{
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 50%;
            padding: 20px;
            margin-inline-end: 15px;
            background-color: var(--color-darkBlue2);
         }
      }
   }

   .courses-content{
      padding: 100px 0;
      border-top: 1px solid #999;
      .main-tabs{
         margin-bottom: 30px;
         .nav-link{
            font-size: 26px;
            color: #666;
            font-weight: 400;
            margin-inline-end: 20px;
            background: transparent;
            &.active{
               font-weight: bold;
               color: #000;
            }
         }
      }
      .sub-tabs{
         margin-bottom: 50px;
         .nav-link{
            font-size: 14px;
            color: #000;
            margin-inline-end: 10px;
            background: #fff;
            padding: 7px 15px;
            border-radius: 7px;
            border: 1px solid #999;
            font-weight: bold;
            &.active{
               background-color: var(--color-red1);
               color: #fff;
            }
         }
      }
   }

   .courses-cards{
      .course-card{
         &:hover{
            .info{
               padding-bottom: 80px;
               background-color: #f9f6f2;
               .button_su{
                  bottom: 30px;
                  opacity: 1;
               }
            }
         }
         .img{
            height: 200px;
            border: 1px solid #999;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            .fav-btn{
               position: absolute;
               right: 15px;
               top: 15px;
               width: 30px;
               height: 30px;
               text-align: center;
               line-height: 30px;
               border-radius: 50%;
               background-color: #fff;
               font-size: 16px;
               color: #999;
               z-index: 10;
               input{
                  position: absolute;
                  left: 0;
                  top: 0;
                  opacity: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 12;
                  cursor: pointer;
               }
               input:checked ~ label{
                  color: var(--color-red1);
               }
            }
            .new-btn{
               position: absolute;
               left: 15px;
               top: 15px;
               background-color: var(--color-cyan2);
               color: #fff;
               border-radius: 30px;
               padding: 3px 15px;
               border-radius: 30px;
               z-index: 10;
               text-transform: capitalize;
            }
         }
         .info{
            border: 1px solid #999;
            border-radius: 15px;
            padding: 30px 20px 0 20px;
            position: relative;
            overflow: hidden;
            transition: all 0.6s ease;
            .course-title{
               font-size: 18px;
               font-weight: bold;
               margin-bottom: 10px;
            }
            .rate{
               display: flex;
               align-items: center;
               .rate-perc{
                  font-size: 12px;
                  padding: 5px 10px;
                  border-radius: 5px;
                  background-color: var(--color-cyan2);
                  color: #fff;
                  margin-inline-end: 5px;
               }
               .stars{
                  color: var(--color-cyan2);
                  margin-inline-end: 5px;
               }
            }
            .price{
               font-size: 20px;
               font-weight: bold;
               margin-bottom: 30px;
               margin-top: 20px;
            }
            .foot-info{
               border-top: 1px solid #999;
               .top-inf{
                  padding: 20px 0;
                  display: flex;
                  justify-content: space-between;
                  font-size: 13px;
                  color: #666;
               }
            }

            .button_su{
               position: absolute;
               left: 20px;
               bottom: -50px;
               width: calc(100% - 40px);
               opacity: 0;
               transition: all 0.5s ease;
            }
         }
      }
   }

   .courses-slider5{
      position: relative;
      padding-bottom: 40px;
      .swiper-button-next, .swiper-button-prev{
         top: 250px;
         width: 60px;
         height: 60px;
         border-radius: 50%;
         border: 1px solid #999;
         text-align: center;
         line-height: 60px;
         transition: all 0.3s ease;
         background-color: #fff;
         &::after{
            font-size: 20px;
            color: #999;
         }
         &:hover{
            background-color: var(--color-red1);
            &::after{
               color: #fff;
            }
         }
      }
      .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
         left: -85px;
      }
      .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
         right: -85px;
      }
      .swiper-pagination{
         text-align: center;
         width: 100%;
         bottom: 0;
         .swiper-pagination-bullet{
            margin: 0 10px;
            width: 12px;
            height: 12px;
            &.swiper-pagination-bullet-active{
               background-color: var(--color-red1);
            }
         }
      }
   }
}
@media screen and (max-width: 991px){
   .tc-projects-style5 {
      .courses-content{
         padding: 50px 0;
         .main-tabs {
            .nav-link{
               font-size: 17px;
               font-weight: bold;
               padding: 0;
            }
         }
         .sub-tabs {
            .nav-link{
               margin: 5px;
            }
         }
      }
   }
}


/* --------------- projects style6 --------------- */
.tc-projects-style6{
   .nav-pills{
      background-color: #f0eff7;
      border: 1px solid #9995;
      border-radius: 50px;
      padding: 0;
      width: max-content;
      margin: auto;
      .nav-link{
         padding: 17px 40px;
         border-radius: 50px;
         border: 1px solid transparent;
         color: #999;
         font-size: 18px;
         font-weight: bold;
         margin: -1px;
         &.active{
            background-color: #fff;
            color: #000;
            border: 1px solid #9995;
         }
      }
   }
   .project-card{
      .img{
         height: 350px;
         border-radius: 30px;
         overflow: hidden;
         position: relative;
         .time{
            position: absolute;
            left: 15px;
            bottom: 15px;
            border-radius: 30px;
            background-color: #fff;
            padding: 8px 20px;
         }
      }
      .info{
         padding-top: 30px;
         h5{
            font-weight: bold;
            font-size: 24px;
         }
      }
   }
}
@media screen and (max-width: 991px){
   .tc-projects-style6{
      overflow: hidden;
      &.pt-150{
         padding-top: 50px !important;
      }
      &.pb-150{
         padding-bottom: 50px !important;
      }
      .fsz-70{
         font-size: 40px !important;
      }
      .fsz-35{
         font-size: 25px !important;
      }

      .nav-pills .nav-link{
         padding: 10px 15px;
         font-size: 10px;
      }
   }
}


/* --------------- projects style7 --------------- */
.tc-projects-style7{
   background-color: #202124;
   background-image: url(../img/home_construction/services/dots_back.png);
   background-size: cover;
   background-attachment: fixed;
   color: #fff;
   padding-bottom: 100px;

   .project-card{
      &:hover{
         .info{
            background-color: var(--color-orange2);
            color: #000;
            .color-999{
               color: #000 !important;
            }
            .icon{
               transform: rotate(45deg);
            }
         }
      }
      .img{
         height: 475px;
         overflow: hidden;
      }
      .info{
         background-color: #2b2c30;
         padding: 40px;
         color: #fff;
         transition: all 0.3s ease;
         .title{
            min-height: 75px;
         }
      }
   }

   .tc-projects-slider7{
      .arrows-num{
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 90px;
         .swiper-next,
         .swiper-prev{
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            background-color: #474950;
            color: #fff;
            flex-shrink: 0;
            &:hover{
               background-color: var(--color-orange2);
               color: #000;
            }
         }
         .swiper-pagination{
            position: relative;
            display: inline-block;
            margin: 0 70px;
            width: max-content;
            top: 0;
         }
      }
   }

}
@media screen and (max-width: 991px){
   .tc-projects-style7{
      margin-top: -2px;
   }
}