/* --------------- schedule style 6 --------------- */
.tc-schedule-style6{
   .topics-head{
      .form-select{
         min-height: 60px;
         border-radius: 50px;
         background-color: #1c1c22;
         color: #fff;
         padding: 0 30px;
         border: 0;
      }
      .nav-pills{
         background-color: #f0eff7;
         border: 1px solid #9995;
         border-radius: 50px;
         padding: 0;
         // width: 100%;
         margin: auto;
         justify-content: space-around;
         .nav-link{
            padding: 17px 40px;
            border-radius: 50px;
            border: 0;
            color: #999;
            font-size: 18px;
            font-weight: 500;
            margin: -1px;
            &.active{
               background-color: transparent;
               color: #000;
               border: 0;
            }
         }
      }
      .tag-items{
         display: flex;
         flex-wrap: wrap;
         .tag-item{
            margin-inline-end: 75px;
            .icon{
               position: relative;
               top: 2px;
            }
         }
      }
   }
   .topics-body{
      .topic-item{
         padding: 25px 30px;
         border: 1px solid #999;
         border-radius: 30px;
         margin-bottom: 10px;
         &:hover{
            background-color: #f4f3f8;
         }
         .card-head{
            .topic-time{
               font-size: 18px;
               .icon{
                  position: relative;
                  top: 4px;
               }
            }
            h5{
               font-size: 24px;
               font-weight: bold;
               margin: 0;
               display: flex;
               align-items: center;
            }
         }
      }
   }
}

@media screen and (max-width: 991px){
   .tc-schedule-style6{
      .pt-150{
         padding-top: 50px !important;
      }
      .pb-150{
         padding-bottom: 50px !important;
      }
      .fsz-70{
         font-size: 40px !important;
      }
      .fsz-35{
         font-size: 25px !important;
      }
      .topics-head {
         .form-select{
            margin-bottom: 30px;
         }
         .nav-pills .nav-link{
            padding: 10px 15px;
            font-size: 10px;
         }
         .tag-items .tag-item{
            margin-inline-end: 10px;
            font-size: 9px;
         }
      }
      .topics-body {
         .topic-item {
            .card-head {
               .topic-time{
                  margin-bottom: 15px;
               }
               h5{
                  margin-bottom: 15px;
                  img{
                     display: none;
                  }
               }
            }
            .card-body{
               .col-lg-7{
                  padding: 0 !important;
               }
            }
            .card-foot{
               .author {
                  margin-bottom: 20px;
               }
            }
         }
      }
   }
}
