/* --------------- tc-services-style1 --------------- */
.tc-services-style1{
   padding: 140px  0;
   border-bottom: 1px solid #9993;

   .content{
      display: flex;
      flex-wrap: wrap;

      .service-title{
         padding-right: 20px;
         margin-right: 40px;
         position: relative;
         &::after{
            position: absolute;
            content: "";
            right: 0;
            top: 50%;
            height: 100%;
            font-size: 100px;
            font-weight: 100;
            background-color: #999;
            width: 2px;
            height: 70px;
            transform: rotate(20deg) translateY(-50%);
         }
         h2{
            display: inline-block;
            line-height: 1.5;
            font-size: 84px;
            text-transform: capitalize;
            &:hover{
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               background-image: var(--bg-grad1);  
            }    
         }

         .icon{
            width: 40px;
            position: relative;
            top: -50px;
            margin-inline-start: 10px;
         }

         &:last-of-type{
            &::after{
               display: none;
            }
         }
      }
   }
}

/* --------------- tc-services-style2 --------------- */
.tc-services-style2{
   padding-bottom: 160px;
   .service_card{
      padding: 50px;
      position: relative;
      .sub_title{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 60px;
         h6{
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.6;
            max-width: 80%;
         }
         .icon{
            font-size: 36px;
         }
      }

      .img_icon{
         margin-bottom: 40px;
         img{
            width: 85px;
            height: 90px;
            object-fit: contain;
         }
      }

      .title{
         font-size: 30px;
         font-weight: bold;
      }

      &::before{
         position: absolute;
         content: "";
         top: 0;
         right: 0;
         width: 160px;
         height: 160px;
         background-color: #0001;
         transition: all 0.3s ease;
         opacity: 0;
      }

      &:hover{
         box-shadow: -15px 15px 10px #0002;
         &::before{
            opacity: 1;
            top: -15px;
            right: -15px;
         }
         .sub_title{
            .icon{
               animation: slide-tr 0.5s linear infinite alternate both;
            }
         }
      }
   }

   .row{
      .col-lg-4{
         &:nth-of-type(1){
            .service_card{
               background-color: #b9d0e2;
               color: #000;
               transition-delay: .4s;
            }
         }
         &:nth-of-type(2){
            .service_card{
               background-color: #3953e4;
               color: #fff;
               transition-delay: .8s;
               .img_icon{
                  img{
                     filter: invert(98%) sepia(76%) saturate(0%) hue-rotate(148deg) brightness(111%) contrast(100%);
                  }
               }
            }
         }
         &:nth-of-type(3){
            .service_card{
               background-color: #29292b;
               color: #fff;
               transition-delay: 1.2s;
               .img_icon{
                  img{
                     filter: invert(98%) sepia(76%) saturate(0%) hue-rotate(148deg) brightness(111%) contrast(100%);
                  }
               }
            }
         }
      }
   }
}

/* --------------- tc-services-style3 --------------- */
.tc-services-style3{
   background-color: #fff;
   padding: 130px 0;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   margin-bottom: -30px;
   position: relative;
   z-index: 5;
   .services-head{
      margin-bottom: 120px;
   }
   .services-content{
      .service-card{
         .icon{
            margin-bottom: 30px;
            i{
               width: 45px;
               height: 45px;
               background-color: var(--color-cyan1);
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 20px;
               color: #fff;
            }
         }
         h4{
            font-size: 24px;
            margin-bottom: 30px;
            font-weight: bold;
            text-transform: uppercase;
         }
         .img{
            height: 275px;
            border-radius: 20px;
            overflow: hidden;
            img{
               height: 100%;
               width: 100%;
               object-fit: cover;
            }
         }
      }
   }
}

/**
 * ----------------------------------------
 * animation slide-tr
 * ----------------------------------------
 */
 @keyframes slide-tr {
   0% {
     -webkit-transform: translateY(0) translateX(0);
             transform: translateY(0) translateX(0);
   }
   100% {
     -webkit-transform: translateY(-10px) translateX(10px);
             transform: translateY(-10px) translateX(10px);
   }
 }


 /* --------------- tc-services-style3 --------------- */
.tc-services-style7{
   background-color: #202124;
   background-image: url(../img/home_construction/services/dots_back.png);
   background-size: cover;
   background-attachment: fixed;
   color: #fff;
   padding: 130px 0;
   .service-card{
      background-color: #2b2c30;
      padding: 30px;
      margin-top: 30px;
      display: block;
      &:hover{
         .icon{
            background-color: var(--color-orange2);
         }
         h5{
            color: var(--color-orange2)
         }
      }
      .icon{
         width: 40px;
         height: 40px;
         line-height: 40px;
         text-align: center;
         border-radius: 50%;
         background-color: #474950;
         margin: auto 0 auto auto;
         transition: all 0.3s ease;
      }
      .img{
         width: 250px;
         height: 250px;
         border-radius: 50%;
         margin: 30px auto 50px;
         overflow: hidden;
      }
      h5{
         font-size: 24px;
         text-transform: capitalize;
         transition: all 0.3s ease;
      }
   }
}
 