/* --------------- show reel style --------------- */
.tc-showreel-style1{
   padding: 140px  5vw;
   background-color: #d9d9e3;

   .content{
      position: relative;
      padding: 100px 15px;
      background-image: url(../img/showreel1_bg.png);
      background-size: cover;
      border-radius: 60px;
      display: block;
      text-align: center;
      overflow: hidden;

      .img{
         position: relative;
         height: 450px;
         width: 550px;
         padding-right: 100px;
         margin: auto;
         img{
            object-fit: contain;
         }
      }

      h3{
         color: #aca8a9;
         font-size: 24px;
         margin-top: 70px;
         text-transform: uppercase;
         letter-spacing: 10px;
         opacity: 0.5;
      }

      .float_box{
         position: absolute;
         top: 60px;
         right: 0;
         width: 190px;
         height: 190px;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #fff;
         border-radius: 50%;
         transition: all 0.1s ease;
         opacity: 0;
         transform: scale(0);
         p{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
         }

         &.show{
            opacity: 1;
            transform: scale(1);
         }
      }
   }
}