/* --------------- numbers style --------------- */
.tc-solution-style4{
   padding: 150px 0 0;
   background-color: #bec2c5;
   .content{
      .solution_card{
         padding: 50px;
         border: 1px solid #999;
         .sub-title{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 125px;
            a{
               font-size: 18px;
               font-weight: 400;
               text-transform: uppercase;
               &:hover{
                  text-decoration: underline;
               }
            }
            .icon{
               width: 50px;
               height: 50px;
               border-radius: 50%;
               border: 1px solid #999;
               display: inline-flex;
               align-items: center;
               justify-content: center;
               font-size: 24px;
            }
         }
         .links{
            a{
               font-size: 28px;
               font-weight: 300;
               margin: 0 5px 10px;
               &:hover{
                  // color: var(--color-lightGreen);
               }
               &.item-dark{
                  padding: 4px 30px;
                  border-radius: 25px;
                  text-transform: capitalize;
                  background-color: #181818;
                  border: 1px solid #181818;
                  color: #fff;
                  &:hover{
                     background-color: var(--color-lightGreen);
                     border-color: var(--color-lightGreen);
                     color: #000;
                  }
               }
               &.item-border{
                  padding: 4px 30px;
                  border-radius: 25px;
                  text-transform: capitalize;
                  border: 1px solid #999;
                  &:hover{
                     background-color: var(--color-lightGreen);
                     border-color: var(--color-lightGreen);
                     color: #000;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 991px) {
   .tc-solution-style4 {
      padding: 80px 0 ;
      .content {
         .solution_card {
            padding: 50px 15px;
            .sub-title{
               margin-bottom: 40px;
            }
            .links a{
               font-size: 14px;
               padding: 4px 10px;
            }
         }
      }
   }
}