/* --------------- page contact style3 --------------- */
.page-contact-style3{
   .conatct-form{
      background-color: var(--color-darkBlue1);
      border-radius: 30px;
      color: #fff;
      .content{
         padding: 130px 0;
         border-top: 1px solid #fff3;
   
         .contact-side{
            .contact-form{
               .form-group{
                  margin-top: 30px;
                  .form-control{
                     background-color: var(--color-darkBlue1);
                     border: 0;
                     border-bottom: 1px solid #666;
                     border-radius: 0;
                     padding: 15px 0;
                     color: #fff;
                     &:focus{
                        border-color: #fff;
                     }
                     &::placeholder{
                        color: #666;
                     }
                  }
               }
   
               .form-check-label{
                  color: #fff;
                  font-size: 14px;
               }
   
               .form-check-input{
                  width: 25px;
                  height: 25px;
                  margin-top: -2px;
                  margin-inline-end: 10px;
                  background-color: #0003;
                  border-color: #0005;
               }
               .upload_img_content{
                  color: #fff;
                  margin-top: 50px;
            
                  .file__input--file{
                      display: none;
                  }
                  
                  .file__input--label{
                     cursor: pointer;
                     text-transform: uppercase;
                     font-size: 16px;
                     font-weight: 200;
                     i{
                        margin-inline-end: 10px;
                        font-size: 21px;
                     }
                  }
            
                  .file__value_content{
                     display: flex;
                     flex-wrap: wrap;
                      .file__value{
                        display: flex;
                        padding: 15px;
                        margin-top: 15px;
                        background-color: #fff1;
                        width: 31%;
                        margin-inline-end: 2%;
                          .file__value--text{
                           width: calc(100% - 30px);
                           overflow: hidden;
                          }
                      }
                  }
            
                  .file__value--remove{
                     cursor: pointer;
                     margin-inline-start: 10px;
                  }
              }
            }
         }
   
         .contact-info{
            .info-card{
               a{
                  display: block;
                  width: max-content;
                  margin: 5px 0;
               }
            }
            .social-icons{
               a{
                  width: 35px;
                  height: 35px;
                  line-height: 35px;
                  text-align: center;
                  border-radius: 50%;
                  border: 1px solid #999;
                  margin-inline-end: 5px;
                  &:hover{
                     color: #fff;
                     background-color: var(--color-cyan1);
                     border-color: var(--color-cyan1);
                  }
               }
            }
         }
      }
   }
   .map{
      border-radius: 30px;
      overflow: hidden;
      margin-top: 30px;
      iframe{
         margin-bottom: -6px;
         filter: grayscale(1);
      }
   }
}

@media screen and (max-width: 991px) {
   .page-contact-style3{
      .content{
         padding: 70px 20px !important;
      }
      .conatct-form .content .contact-info .info-card a{
         width: 100%;
      }
      .section_title3 h2{
         font-size: 25px;
      }
   }
}