/* --------------- page-single-product-style3 --------------- */
.page-single-product-style3{
   .main-product-details{
      padding-bottom: 50px;
      border-radius: 0 0 30px 30px;
      background-color: #fff;
      position: relative;
      z-index: 10;
      .main-imgs{
         .img{
            position: relative;
            margin-bottom: 10px;
            border-radius: 15px;
            height: 550px;
            overflow: hidden;
            &:hover{
               .icon{
                  transform: scale(1);
               }
            }
            .icon{
               position: absolute;
               right: 20px;
               top: 20px;
               font-size: 30px;
               z-index: 20;
               transform: scale(0);
               transition: all 0.3s ease;
            }
         }
      }
      .info{
         .top-controls{
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .arrows{
               display: inline-block;
               padding: 5px;
               border: 1px solid #9993;
               border-radius: 30px;
               a{
                  margin: 0 10px;
                  font-size: 20px;
               }
            }
         }
         .color-quantity{
            padding: 20px 0;
            border-top: 1px solid #999;
            margin-top: 25px;
            .select-color{
                display: flex;
                align-items: center;
                .colors-content{
                    .form-check{
                        padding: 0;
                        margin-bottom: 0;
                        .form-check-input{
                            display: none;
                        }
                        .form-check-label{
                            .color-circle{
                                width: 28px;
                                height: 28px;
                                border-radius: 50%;
                                border: 3px solid #fff;
                                &.gray{
                                    background-color: #afaaa2;
                                }
                                &.black{
                                    background-color: #000;
                                }
                                &.blue{
                                    background-color: #589695;
                                }
                                &.green{
                                    background-color: #f89f20;
                                }
                            }
                        }

                        .form-check-input:checked ~ .form-check-label{
                            .color-circle{
                                outline: 1px solid var(--color-cyan1);
                            }
                        }
                    }
                }
            }
        }
        .qyt-addCart{
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            align-items: center;
            .add-more{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
                padding: 10px 15px;
                border: 1px solid #9993;
                width: 30%;
                border-radius: 30px;
                .qt-minus,
                .qt-plus{
                    cursor: pointer;
                }

                .qt{
                    font-size: 14px;
                }
            }

            .btn{
                background-color: var(--color-cyan1);
                padding: 12px 30px;
                width: 40%;
                span{
                    font-size: 13px;
                    color: #fff;
                    font-weight: bold;
                }

                &:hover{
                    background-color: #000;
                }
            }
        }
        .fav-btn{
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #0002;
            font-size: 15px;
            color: #ccc;
            cursor: pointer;
            &.active{
                color: red;
            }
        }
        .more-info{
         padding-top: 30px;
         border-top: 1px solid #999;
         margin-top: 30px;
        }
        .socail-icons{
            margin-top: 40px;
            a{
               border-radius: 50%;
               border: 1px solid #999;
               font-size: 20px;
               display: inline-flex;
               align-items: center;
               justify-content: center;
               margin-inline-end: 10px;
               &:hover{
                  background-color: var(--color-cyan1) !important;
                  border-color: var(--color-cyan1) !important;
                  color: #fff !important;
               }
            }
         }
         .accordion{
            .accordion-item{
               background: transparent;
               border-radius: 0;
               border: 0;
               .accordion-button{
                  font-size: 16px;
                  font-weight: bold;
                  color: #000;
                  background: transparent;
                  box-shadow: none;
                  padding: 20px 0;
                  border-bottom: 1px solid #999;
                  text-transform: uppercase;
                  &::after{
                     background: transparent;
                     font-family: 'Line Awesome Free';
                     font-weight: 900;
                     content: "\f068";
                  }
               }
               .accordion-button:not(.collapsed){
                  background: transparent;
                  color: var(--color-cyan1);
                  &::after{
                     content: "\f067";
                  }
               }
               .accordion-body{
                  padding: 20px 0;
               }
            }
         }
      }
   }

   .related-products{
      padding: 180px 0 130px;
      background-color: #e4e7ec;
      margin-top: -30px;
      border-radius: 0 0 30px 30px;
      overflow: hidden;
   }

   .product-card-style3{
      .img{
         position: relative;
         height: 390px;
         overflow: hidden;
         padding-bottom: 50px;
         border-right: 1px solid #999;
         &:hover{
            .btns{
               opacity: 1;
               transform: translateY(0%) scale(1);
            }
         }
         .fav-btn{
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 15px;
            color: #ccc;
            background-color: #fff;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &.active{
                color: red;
            }
        }
        .btns{
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         padding: 10px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         opacity: 0;
         transform: translateY(100%) scale(0);
         transition: all 0.4s ease;
         a{
            width: calc(50% - 5px);
            padding: 15px;
            text-align: center;
            background-color: #fff;
            border-radius: 5px;
            text-transform: uppercase;
            &:hover{
               background-color: var(--color-cyan1);
               color: #fff;
            }
         }
        }

        .l-bttn{
         position: absolute;
         left: 10px;
         top: 10px;
         border: 1px solid #999;
         border-radius: 10px;
         padding: 10px 20px;
        }
      }
      .info{
         padding: 30px;
      }
   }

   .related-products-slider3{
      position: relative;
      padding-bottom: 50px;
      .swiper-button-next,
      .swiper-button-prev{
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: #fff;
         color: #000;
         transition: all 0.3s ease;
         position: absolute;
         top: -90px;
         &::after{
            font-size: 16px;
         }
         &:hover{
            background-color: var(--color-cyan1);
            color: #fff;
         }
      }
      .swiper-button-next{
         right: 0;
      }
      .swiper-button-prev{
         right: 55px;
         left: auto;
      }

      .swiper-pagination{
         left: 50%;
         transform: translateX(-50%);
         bottom: 0;
         background-color: #cdd0d5;
         padding: 7px 20px;
         border-radius: 30px;
         width: max-content;
         .swiper-pagination-bullet{
            margin: 0 5px;
            &.swiper-pagination-bullet-active{
               background-color: #000;
            }
         }
      }
   }
}


@media screen and (max-width: 991px) {
   .page-single-product-style3{
      .fsz-35 {
         font-size: 20px !important;
     }
   }
}