/* --------------- page-single-project-style3 --------------- */
.page-single-project-style3{
   .project-main-card{
      .content-card{
         .img-card{
            // height: 850px;
            // background-color: #123259;
            border-radius: 30px;
            position: relative;
            overflow: hidden;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // .logo-img{
            //    width: 50%;
            //    margin-bottom: 100px;
            // }
            .share-wrapper{
               color: #fff;
               display: inline-block;
               padding: 15px 40px;
               border-radius: 100px;
               background-color: #040a12;
               position: absolute;
               bottom: 50px;
               left: 50%;
               transform: translateX(-50%);
               a{
                  width: 45px;
                  height: 45px;
                  line-height: 45px;
                  text-align: center;
                  border-radius: 50%;
                  border: 1px solid #fff5;
                  margin-inline-end: 5px;
                  &:hover{
                     color: #fff;
                     background-color: var(--color-cyan1);
                     border-color: var(--color-cyan1);
                  }
               }
            }
         }
         .info-card{
            position: relative;
            background-color: var(--color-cyan1);
            color: #fff;
            padding: 130px 0;
            border-radius: 30px;
            .title-wrapper{
               margin-bottom: 90px;
               h2{
                  font-size: 48px;
               }
               h6{
                  font-size: 20px;
                  color: #cbfff5;
               }
            }
            .shap{
               position: absolute;
               content: "";
               right: 0;
               top: 150px;
               width: 30%;
            }
         }
      }
   }
   .concept-info{
      position: relative;
      padding: 130px 0;
      border-radius: 0 0 30px 30px;
      z-index: 10;
      overflow: hidden;
      background-color: #fff;
      .logos{
         text-align: center;
         a{
            margin-top: 100px;
            text-align: center;
         }
      }
   }
   .logo-info{
      padding: 180px 0;
      background-color: #d9e2e4;
      margin: -50px 0;
   }
   .project-gallery{
      border-radius: 30px;
      position: relative;
      z-index: 10;
      background-color: #fff;
      padding: 130px 0;
      .color-progress{
         height: 40px;
         border: 1px solid #999;
         border-radius: 10px;
         display: flex;
         overflow: hidden;
         span{
            width: 20%;
            &:nth-of-type(1){
               background-color: #ffffff;
            }
            &:nth-of-type(2){
               background-color: #d9e2e4;
            }
            &:nth-of-type(3){
               background-color: #123259;
            }
            &:nth-of-type(4){
               background-color: #ec3410;
            }
            &:nth-of-type(5){
               background-color: #73cbd7;
            }
         }
      }
      .color-code{
         display: flex;
         span{
            width: 20%;
            margin-top: 15px;
         }
      }
      .project-gallery-slider3{
         .project-img{
            border-radius: 30px;
            overflow: hidden;
            height: 620px;
         }
      }
      .social-icons2{
         a{
            width: 45px;
            height: 45px;
            line-height: 43px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #999;
            margin: 0 5px;
            font-size: 18px;
            &:hover{
               background-color: var(--color-cyan1);
               border-color: var(--color-cyan1);
               color: #fff;
            }
         }
      }
   }
   .related-projects{
      margin-top: -50px;
      padding: 180px 0 130px;
      background-color: #d9e2e4;
      .related-card{
         position: relative;
         border-radius: 20px;
         overflow: hidden;
         .img{
            height: 300px;
         }
         .info{
            position: absolute;
            background-color: #fff;
            border-radius: 15px;
            left: 10px;
            bottom: 10px;
            width: calc(100% - 20px);
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px;
            transform: translateY(100%) scale(0.7);
            opacity: 0;
            transition: all 0.3s ease;
            .icon{
               font-size: 36px;
            }
            a{
               &:hover{
                  color: var(--color-cyan1);
               }
            }
         }
         &:hover{
            .info{
               transform: translateY(0) scale(1);
               opacity: 1;
            }
         }
      }
      .related-projects-slider3{
         position: relative;
         overflow: hidden;
         .swiper-container{
            position: static;
            overflow: visible;
         }
         .swiper-button-next,
         .swiper-button-prev{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            transition: all 0.3s ease;
            top: 0;
            margin: 0;
            &:hover{
               background-color: var(--color-cyan1);
               &::after{
                  color: #fff;
               }
            }
            &::after{
               font-size: 15px;
               color: #000;
            }
         }
      }
      .swiper-button-prev{
         right: 60px;
         left: auto;     
      }
   }

   .tc-contact-style3{
      border-radius: 0 0 30px 30px;
      overflow: hidden;
   }
}


@media screen and (max-width: 991px) {
   .page-single-project-style3{
      .project-main-card {
         .content-card {
            .img-card {
               .share-wrapper{
                  white-space: nowrap;
                  bottom: 0;
                  width: 100%;
                  border-radius: 0;
                  position: relative;
                  a{
                     width: 35px;
                     height: 35px;
                     line-height: 33px;
                  }
               }
            }
            .info-card {
               padding: 50px 0;
               .title-wrapper {
                  margin-bottom: 50px;
                  h2{
                     font-size: 30px;
                  }
               }
            }
         }
      }
      .concept-info{
         padding: 50px 0;
         .logos {
            a {
               margin-top: 0;
               padding: 15px;
            }
         }
      }
      .logo-info{
         padding: 100px 0;
      }

      .project-gallery{
         padding: 50px 0;
      }

      .color-pallete{
         margin-top: 50px;
      }

      .project-gallery .project-gallery-slider3 .project-img{
         height: 350px;
      }

      .related-projects .related-projects-slider3 .swiper-button-next,
      .related-projects .related-projects-slider3 .swiper-button-prev{
         top: 40px;
      }

      .fsz-35 {
         font-size: 25px !important;
     }
     .mb-200 {
         margin-bottom: 30px !important;
      }
      
      .mb-70 {
         margin-bottom: 30px !important;
     }
   }
}