/* --------------- showcase-style-1  --------------- */


.tc-blog-style18{
   margin-top: -70px;
   padding-bottom: 120px;
   .main-blog-card{
      .img{
         border-radius: 15px;
         overflow: hidden;
         height: 600px;
         max-height: 100vw;
      }
      .main-blog-slider18{
         position: relative;
         padding-bottom: 60px;
         .swiper-container{
            border-radius: 15px;
            overflow: hidden;
         }
         .swiper-button-next,
         .swiper-button-prev{
            width: 60px;
            height: 60px;
            background-color: #fff;
            border: 1px solid #9993;
            top: -30px;
            margin: 0;
            &::after{
               font-size: 18px;
               color: #000;
            }
            &:hover{
               background-color: var(--color-orange1);
               &::after{
                  color: #fff;
               }
            }
         }
         .swiper-button-next{
            border-radius: 0 10px 10px 0;
            right: calc(50% - 60px);
         }
         .swiper-button-prev{
            border-radius: 10px 0 0 10px;
            left: calc(50% - 60px);
            right: auto;
         }
      }
   }

   .sub-blog-card{
      padding: 60px 0;
      border-bottom: 1px solid #9993;
      display: block;
      &:hover{
         border-color: #000;
      }
      .main-img{
         height: 220px;
         width: 100%;
         border-radius: 15px;
         overflow: hidden;
         object-fit: cover;
         margin-bottom: 20px;
      }
   }

   .hover-reveal{
      left: 60% !important;
      width: 350px;
      height: 350px;
      border-radius: 10px;
      overflow: hidden;
   }
}




/* --------------- responsive --------------- */
@media screen and (max-width: 991px) {
   .showcase-style-10{
      .fsz-60 {
         font-size: 30px !important;
      }
     .fsz-30 {
         font-size: 20px !important;
      }
     .tc-header-style10{
      padding: 50px 0 150px !important;
     }
     .tc-blog-style18 .sub-blog-card {
      padding: 30px 0;
     }
     .hover-reveal{
      display: none !important;
     }
   }
}