/* --------------- showcase-style-1  --------------- */


.tc-blog-style17{
   padding-bottom: 120px;
   margin-top: -80px;
   .main-blog-card{
      position: sticky;
      border-radius: 15px;
      overflow: hidden;
      top: 30px;
      .img{
         position: relative;
         height: 600px;
         border-radius: 15px;
         overflow: hidden;
         .main-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      .info{
         position: absolute;
         bottom: 0;
         left: 0;
         text-align: center;
         padding: 100px 50px 50px;
         color: #fff;
         background-image: linear-gradient(to top, #000000d5 , transparent);
         z-index: 10;
      }
      .social-links{
         a{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: 1px solid #9993;
            border-radius: 10px;
            margin-inline-start: 5px;
         }
      }
   }

   .sub-blog-card{
      margin-bottom: 30px;
      box-shadow: 0px 16px 32px 0px rgba(76, 76, 76, 0.04);
      overflow: hidden;
      border-radius: 10px;
      .img{
         overflow: hidden;
         height: 230px;
      }
   }
}


/* --------------- responsive --------------- */
@media screen and (max-width: 991px) {
   .showcase-style-9{
      .fsz-60 {
         font-size: 40px !important;
      }
      .fsz-30 {
         font-size: 20px !important;
     }
      .tc-blog-style17 .main-blog-card .info{
         padding: 100px 15px 50px;
      }
   }
}