/* --------------- showcase-style-1  --------------- */
/* --------------- tc-header-style9 --------------- */
.tc-header-style9{
   position: relative;
   background-image: url(../img/showcase_1/header_back.jpg);
   background-size: cover;
   background-position: center;
   padding-top: 200px;
   .head_line{
      position: absolute;
      left: 0;
      top: 0;
   }
   &::before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #17191e;
      opacity: 0.94;
   }

   &::after{
      position: absolute;
      content: "";
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 140px;
      background-color: #fff;
   }

   .img{
      height: 600px;
      border-radius: 10px;
      overflow: hidden;
   }
   .info{
      color: #fff;
      h1{
         font-size: 50px;
         margin-top: 20px;
      }
      .social-links{
         a{
            width: 50px;
            height: 50px;
            line-height: 48px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #fff3;
            margin-inline-end: 10px;
            color: #fff;
            &:hover{
               color: var(--color-blue3);
               border-color: var(--color-blue3);
            }
         }
      }
   }
}

/* --------------- tc-portfolio-style9 --------------- */
.tc-portfolio-style9{
   padding: 100px 0;
   .nav-pills{
      justify-content: center;
      a{
         font-weight: bold;
         color: #c0c0c0;
         margin: 0 30px;
         &.active{
            color: #000;
            text-decoration: underline !important;
         }
      }
   }
   .projects{
      .row{
         margin: 0 -50px !important;
         .col-lg-6{
            padding: 0 50px !important;
         }
      }
      .project-item{
         margin-bottom: 100px;
         .img{
            height: 450px;
            border-radius: 15px;
            overflow: hidden;
         }
         .info{
            position: absolute;
            bottom: 15px;
            left: 15px;
            width: calc(100% - 30px);
            padding: 30px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            opacity: 0;
            transform: translateY(100%) scale(0.8);
            transition: all 0.3s ease-in-out;
            .info-text{
               h3{
                  font-size: 30px;
               }
               small{
                  font-size: 14px;
                  color: #999;
               }
            }
            .icon{
               font-size: 45px;
               flex-shrink: 0;
            }
         }
         &:hover{
            .info{
               opacity: 1;
               transform: translateY(0) scale(1);
            }
         }
      }
      .button_su{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            padding: 0;
         .button_su_inner{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }
   }

   .hire-btn{
      font-size: 150px;
      font-weight: bold;
      color: var(--color-orange3);
      text-align: center;
      margin-top: 50px;
      a{
         position: relative;
         z-index: 10;
      }
      .mirror_1{
         position: absolute;
         bottom: -10px;
         left: 0;
         width: 100%;
         text-align: center;
         color: transparent;
         -webkit-text-stroke: 1px #fc4a1b33;
         &::after{
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            top: 0;
            height: calc(100% - 90px);
            background-color: #fff;
         }
      }
      .mirror_2{
         position: absolute;
         bottom: -25px;
         left: 0;
         width: 100%;
         text-align: center;
         color: transparent;
         -webkit-text-stroke: 1px #fc4a1b33;
         &::after{
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            top: 0;
            height: calc(100% - 90px);
            background-color: #fff;
         }
      }
   }
}

/* --------------- responsive --------------- */
@media screen and (max-width: 991px) {

   .tc-header-style9{
      padding: 100px 0;
      &::after{
         display: none;
      }
   }

   .tc-portfolio-style9{
      .nav-pills{
         a{
            margin: 0 10px;
         }
      }
      .projects{
         .row{
            margin: 0 -15px !important;
            .col-lg-6{
               padding: 0 15px !important;
            }
         }
      }
      .hire-btn{
         font-size: 60px;
      }
   }
}