/* --------------- showcase-style-1  --------------- */

// tc-innerheader-style15
.tc-innerheader-style15{
   text-align: center;
   padding: 200px 0 230px;
   background-image: url(../img/showcase_7/lines.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   h1{
      font-size: 60px;
   }
}

/* --------------- tc-blog-style15 --------------- */
.tc-blog-style15{
   .project-card{
      margin-bottom: 120px;
      .img{
         border-radius: 10px;
         overflow: hidden;
         // height: 250px;
      }
   }
   .stuff-card{
      margin-bottom: 120px;
   }

   .button_su_circle {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      padding: 0;
      .button_su_inner {
         width: 150px;
         height: 150px;
         border-radius: 50%;
         padding: 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
     }
  }
}



/* --------------- responsive --------------- */
@media screen and (max-width: 991px) {
   .showcase-style-7{
      .tc-innerheader-style15{
         padding: 50px 0;
      }
      .tc-blog-style15 .project-card{
         margin-bottom: 50px;
      }
   }
}