/* --------------- showcase-style-1  --------------- */

.tc-blog-style14{
   .blog-content{
      .latest-content{
         border-radius: 20px;
         overflow: hidden;
         box-shadow: 10px 10px 30px #0001;
         margin-top: -180px;
         margin-bottom: 80px;
         .blog-text-card{
            padding: 50px;
            background-color: var(--color-blue3);
            color: #fff;
            .blog-text-card-item{
               display: flex;
               margin-bottom: 50px;
               &:last-of-type{
                  margin-bottom: 0;
               }
               .date{
                  padding: 3px 10px;
                  background-color: #fff1;
                  border-radius: 5px;
                  font-size: 14px;
                  flex-shrink: 0;
                  margin-inline-end: 25px;
                  height: max-content;
                  margin-top: 10px;
               }
            }
         }
         .blog-latest-card{
            .img{
               height: 320px;
               overflow: hidden;
            }
            .info{
               padding: 50px;
               .date{
                  padding: 3px 10px;
                  background-color: var(--color-blue3);
                  border-radius: 5px;
                  font-size: 14px;
                  color: #fff;
               }
            }
         }
         .blog-img-card{
            position: relative;
            .info{
               position: absolute;
               left: 0;
               bottom: 0;
               width: 50%;
               height: 320px;
               padding: 50px;
               background-color: var(--color-orange3);
               color: #fff;
               .date{
                  padding: 3px 10px;
                  background-color: #fff2;
                  border-radius: 5px;
                  font-size: 14px;
                  color: #fff;
               }
            }
         }
      }
      .blog-card{
         margin-bottom: 50px;
         .img{
            overflow: hidden;
            height: 430px;
            border-radius: 15px;
         }
         .info{
            .date{
               padding: 3px 10px;
               background-color: var(--color-blue3);
               border-radius: 5px;
               font-size: 14px;
               color: #fff;
               margin-top: 10px;
            }
         }
      }
   }
   .button_su_circle {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      padding: 0;
      .button_su_inner {
         width: 150px;
         height: 150px;
         border-radius: 50%;
         padding: 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
     }
  }
}



/* --------------- responsive --------------- */
@media screen and (max-width: 991px) {
   .showcase-style-6{
      .tc-header-style10{
         padding: 50px 0 100px !important;
      }
      .fsz-60 {
         font-size: 40px !important;
     }
     .tc-blog-style14 {
      .blog-content {
         .latest-content {
            box-shadow: none;
            .blog-text-card {
               border-radius: 15px;
               overflow: hidden;
               margin-bottom: 30px;
               .blog-text-card-item{
                  display: block;
                  .date{
                     margin-bottom: 10px;
                  }
               }
            }
            .blog-latest-card {
               margin-bottom: 30px;
               .img{
                  border-radius: 15px;
               }
               .info {
                  padding: 30px 20px;
               }
            }
            .blog-img-card{
               border-radius: 15px;
               overflow: hidden;
               height: max-content !important;
               .info{
                  position: relative;
                  width: 100%;
                  padding: 30px 20px;
                  height: max-content;
               }
            }
         }
      }
      .mt-60 {
         margin-top: 30px !important;
      }
     }
   }

}