/* -------------------- rtl style ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
.home-style7-rtl {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
}
.home-style7-rtl .la-arrow-right,
.home-style7-rtl .la-angle-right,
.home-style7-rtl .la-arrow-left,
.home-style7-rtl .la-angle-left,
.home-style7-rtl .la-chevron-circle-right,
.home-style7-rtl .la-chevron-circle-left {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.home-style7-rtl .tc-header-style7 {
  background-image: url(../../img/home_construction/header/back_rtl.jpeg);
}
.home-style7-rtl .tc-header-style7::after {
  left: auto;
  right: 0;
}
.home-style7-rtl .tc-header-style7 .shap_img {
  left: auto;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.home-style7-rtl .tc-about-style7 .about_shap {
  right: auto;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.home-style7-rtl .tc-services-style7 .service-card .icon {
  margin-left: 0;
  margin-right: auto;
}
.home-style7-rtl .tc-vision-style7 .vision_shape {
  left: auto;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.home-style7-rtl .navbar.style7 .nav-search-box .form-group input {
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-left: 0;
  border-radius: 0 8px 8px 0;
}
.home-style7-rtl .navbar.style7 .nav-search-box .form-group button {
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 8px 0 0 8px;
}