/* --------------- tc-blog-style45 --------------- */
.tc-blog-style45{
    padding: 70px 0 120px;

    .blog-card{
        .img{
            position: relative;

            .tag{
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
                padding: 7px 20px;
                text-transform: uppercase;
                border-radius: 0 6px 0 6px;
            }
        }
    }

 }
 
 @media screen and (max-width: 991px){

 }