/* --------------- tc-donation-style45 --------------- */
.tc-donation-style45{
    padding: 120px 0;

    .logo-circle{
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
        margin: 0 auto 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            position: absolute;
            content: "";
            left: calc(50% - 150px);
            top: calc(50% - 150px);
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #9992;
            pointer-events: none;
        }
        &::after{
            position: absolute;
            content: "";
            left: calc(50% - 230px);
            top: calc(50% - 230px);
            width: 460px;
            height: 460px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #9992;
            pointer-events: none;
        }

        img{
            max-width: 60%;
        }
    }

    .form{
        .form-group{
            position: relative;
            margin-bottom: 20px;
            .form-control{
                min-height: 50px;
                border-radius: 8px;
                border: 1px solid #9993;
                text-transform: uppercase;
                font-size: 14px;
                padding: 0 20px;
            }
            .icon{
                position: absolute;
                right: 20px;
                top: 13px;
            }
        }
    }

 }
 
 @media screen and (max-width: 991px){
    .tc-donation-style45{
        overflow: hidden;
    }
 }