/* --------------- tc-footer-style45 --------------- */
.tc-footer-style45{
    background-image: url(../img/footer_back.png);
    background-size: cover;
    color: #fff;

    .footer-content{
        padding: 120px 0 70px;
    }

    .foot-form{
        .form{
            .form-group{
                position: relative;
                .icon{
                    position: absolute;
                    left: 25px;
                    top: 13px;
                    color: #fff;
                    z-index: 10;
                }
                .form-control{
                    background-color: #2d2d2d;
                    min-height: 50px;
                    border: 0;
                    border-radius: 8px;
                    padding: 0 15px 0 50px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
        }
    }

 }
 
 @media screen and (max-width: 991px){

 }