/* --------------- navbar style42 --------------- */
.navbar.style45{
    padding: 20px 0;

    .navbar-nav{
        .nav-item{
            .nav-link{
                font-size: 14px;
                font-weight: bold;
                text-transform: capitalize;
                color: #777;
                margin: 0 20px;

                &:hover{
                    text-decoration: underline;
                    color: #000;
                }
            }
        }
    }


}


@media screen and (max-width: 991px) {
    .top-nav {
        a{
            font-size: 10px;
        }
    }

    .navbar.style45 {
        .navbar-nav {
            margin-top: 20px;
            .nav-item {
                .nav-link {
                    margin: 0;
                }
            }
        }
    }
}
