/* --------------- blog style --------------- */
.tc-contact-style1 {
  position: relative;
  padding-top: 40px;
  display: none; }
  .tc-contact-style1::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 400px);
    background: -webkit-gradient(linear, left bottom, left top, from(#d8d7e2), color-stop(63%, #fff));
    background: -webkit-linear-gradient(bottom, #d8d7e2 0%, #fff 63%);
    background: -o-linear-gradient(bottom, #d8d7e2 0%, #fff 63%);
    background: linear-gradient(to top, #d8d7e2 0%, #fff 63%);
    z-index: 1; }
  .tc-contact-style1 .form .form-group {
    margin-bottom: 30px; }
    .tc-contact-style1 .form .form-group .form-control {
      background-color: #fff; }
