/* --------------- pricing style --------------- */
.tc-pricing-style1 .pricing-tabsHead .price-radios {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #edf2fa;
  padding: 7px;
  border-radius: 50px; }
  .tc-pricing-style1 .pricing-tabsHead .price-radios .form-check {
    margin: 0;
    padding: 0; }
    .tc-pricing-style1 .pricing-tabsHead .price-radios .form-check .form-check-label {
      color: #000;
      background-color: transparent;
      font-size: 12px;
      font-weight: bold;
      border-radius: 30px;
      padding: 10px 15px;
      text-transform: capitalize;
      cursor: pointer; }
      .tc-pricing-style1 .pricing-tabsHead .price-radios .form-check .form-check-label small {
        padding: 1px 5px;
        font-size: 10px; }
    .tc-pricing-style1 .pricing-tabsHead .price-radios .form-check .form-check-input {
      display: none; }
    .tc-pricing-style1 .pricing-tabsHead .price-radios .form-check .form-check-input:checked ~ .form-check-label {
      background-color: #fff;
      -webkit-box-shadow: 0 5px 5px #0001;
      box-shadow: 0 5px 5px #0001; }

.tc-pricing-style1 .content {
  min-width: 800px;
  margin-top: 50px; }
  .tc-pricing-style1 .content .price-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #7f7f7f; }
    .tc-pricing-style1 .content .price-head .price-headTitle {
      width: 34%; }
    .tc-pricing-style1 .content .price-head .price-headItem {
      position: relative;
      width: 22%;
      text-align: center;
      padding: 30px 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      .tc-pricing-style1 .content .price-head .price-headItem .label {
        position: absolute;
        top: -30px;
        right: 15px;
        z-index: 5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 60px;
        height: 60px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        background-image: url(../img/pricing/label_success.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff; }
      .tc-pricing-style1 .content .price-head .price-headItem h6 {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .tc-pricing-style1 .content .price-head .price-headItem h2 {
        font-size: 45px;
        margin-bottom: 5px; }
        .tc-pricing-style1 .content .price-head .price-headItem h2 span {
          font-size: 18px;
          color: #999;
          font-weight: 400; }
      .tc-pricing-style1 .content .price-head .price-headItem small {
        font-size: 11px;
        color: #666;
        display: block;
        line-height: 1.5; }
  .tc-pricing-style1 .content .price-body .price-bodyItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f2f2f2; }
    .tc-pricing-style1 .content .price-body .price-bodyItems:last-of-type {
      border: 0; }
    .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle {
      width: 34%;
      padding: 15px 0;
      font-size: 14px;
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: -webkit-max-content;
      min-height: -moz-max-content;
      min-height: max-content;
      position: relative; }
      .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle .pop-info {
        position: relative;
        display: inline-block;
        cursor: pointer; }
        .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle .pop-info i.bttn-info {
          font-size: 11px;
          color: #999;
          margin: 0 3px; }
          .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle .pop-info i.bttn-info:hover {
            color: var(--color-blue5); }
        .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle .pop-info .hidden_content {
          position: absolute;
          bottom: 15px;
          left: 15px;
          padding: 20px;
          border-radius: 10px;
          background-color: #f7f7f7;
          text-align: center;
          width: 250px;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          opacity: 0;
          visibility: hidden; }
          .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle .pop-info .hidden_content .title {
            color: var(--color-blue5);
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 13px;
            font-weight: 500; }
        .tc-pricing-style1 .content .price-body .price-bodyItems .price-bodyTitle .pop-info:hover .hidden_content {
          opacity: 1;
          visibility: visible; }
    .tc-pricing-style1 .content .price-body .price-bodyItems .price-item {
      width: 22%;
      padding: 15px 0;
      text-align: center;
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-height: -webkit-max-content;
      min-height: -moz-max-content;
      min-height: max-content; }
      .tc-pricing-style1 .content .price-body .price-bodyItems .price-item i {
        color: var(--color-blue5);
        font-size: 20px; }
      .tc-pricing-style1 .content .price-body .price-bodyItems .price-item span {
        color: #000;
        font-size: 14px; }
  .tc-pricing-style1 .content .price-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .tc-pricing-style1 .content .price-foot .price-footTitle {
      width: 34%; }
    .tc-pricing-style1 .content .price-foot .price-footItem {
      width: 22%;
      text-align: center;
      padding: 30px 0 50px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px; }

.tc-pricing-style1 .monthly_price {
  display: none; }
