/* --------------- home-style9  --------------- */
.home-style12 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #000;
  /* --------------- tc-header-style26 --------------- */
  /* --------------- tc-services-text-style26 --------------- */
  /* --------------- tc-services-style26 --------------- */
  /* --------------- tc-partners-style26 --------------- */
  /* --------------- tc-story-style26 --------------- */
  /* --------------- tc-testimonials-style26 --------------- */
  /* --------------- tc-pricing-style26 --------------- */
  /* --------------- tc-partners-style26 --------------- */
  /* --------------- tc-blog-style26 --------------- */
  /* --------------- tc-contact-style26 --------------- */ }
  .home-style12 h1, .home-style12 h2, .home-style12 h3, .home-style12 h4, .home-style12 h5, .home-style12 h6 {
    font-family: 'roxborough_bold', sans-serif; }

/* --------------- responsive --------------- */
