/* --------------- showcase-style-1  --------------- */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.showcase-style-14 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400; }

.tc-header-22 {
  position: relative;
  padding: 160px 0 60px;
  background-color: #111;
  min-height: calc(100vh - 100px);
  overflow: hidden; }
  .tc-header-22 .lg_ward {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: calc(25vw + 45px);
    line-height: 0.8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    opacity: 0.07;
    pointer-events: none; }
  .tc-header-22 .head_line {
    position: absolute;
    left: 0;
    top: 0; }

/* --------------- responsive --------------- */
