/* --------------- showcase-style-1  --------------- */
.tc-header-style23 {
  position: relative;
  padding: 160px 0 60px;
  background-color: #111;
  overflow: hidden;
  color: #fff;
  min-height: 100vh; }
  .tc-header-style23 .lg_ward {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: calc(25vw + 45px);
    line-height: 0.8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    opacity: 0.07;
    pointer-events: none; }
  .tc-header-style23 .head_line {
    position: absolute;
    left: 0;
    top: 0; }
  .tc-header-style23 .show-card .info {
    padding-top: 40px;
    position: relative;
    z-index: 50;
    opacity: 0;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .tc-header-style23 .show-card .img {
    position: relative;
    z-index: 1;
    height: calc(100vh - 220px);
    max-height: 100vw;
    opacity: 0;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .tc-header-style23 .tc-header-slider23 .swiper-container .swiper-slide-active .info,
  .tc-header-style23 .tc-header-slider23 .swiper-container .swiper-slide-active .img {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

/* --------------- responsive --------------- */
@media screen and (max-width: 991px) {
  .tc-header-style23 {
    padding-top: 0; } }
