/* -------------------- dark style ------------------------- */
// -------- home 1 dark style --------
.home-style1.dark-theme{
    background: #29292b;
    color: #fff;

    &.body-fixed-footer main{
        background-color: #29292b !important;
    }

    .light_item{
        display: none;
    }

    .dark_item{
        display: block;
    }
    
    .navbar.style1,
    .tc-header-style1{
        background-color: #29292b;
        .logo-light{
            display: none;
        }
        .logo-dark{
            display: block;
        }
    }

    .tc-header-style1::after{
        display: none;
    }

    .tc-testimonial-style1,
    .tc-blog-style1,
    .tc-contact-style1{
        background: #0f0d0d !important;
        // border-bottom: 1px solid #fff2;
    }

    .tc-showreel-style1,
    .tc-contact-style1 .form .form-group .form-control {
        background-color: #fff1;
        color: #fff;
    }

    .navbar.style1 .navbar-nav .nav-item .nav-link,
    .butn span,
    .navbar.style1 .navbar-nav .nav-item .nav-link:hover, .navbar.style1 .navbar-nav .nav-item .nav-link.active,
    .color-000,
    .tc-pricing-style1 .content .price-body .price-bodyItems .price-item span{
        color: #fff !important;
    }

    .tc-header-style1 h1 .gr-line-throw::before{
        background: linear-gradient(to right, #fda803 0%, #29292b 100%);
    }

    .tc-header-style1 .global{
        opacity: 0.1;
    }

    .tc-header-style1 .bubbles{
        opacity: 0.8;
    }

    .tc-header-style1 .barnds .img img:not(.dark_item){
        display: none;
    }

    .tc-showreel-style1 .content .float_box{
        background-color: #000;
    }

    .tc-pricing-style1 .content .price-head .price-headItem.bg-light2,
    .tc-pricing-style1 .content .price-body .price-bodyItems .price-item.bg-light2,
    .tc-pricing-style1 .content .price-foot .price-footItem.bg-light2{
        background-color: #fff1 !important;
    }

    .tc-pricing-style1 .content .price-body .price-bodyItems{
        border-bottom: 1px solid #fff2;
    }

    .color-666,
    .tc-testimonial-style1 .testi-card .text,
    .tc-projects-style1 .content .feature-item small,
    .tc-awards-style1 .award-card ul li a,
    .tc-team-style1 .team-card .info p,
    .tc-pricing-style1 .content .price-head .price-headItem small {
        color: #999 !important;
    }


}