

/* --------------- variable --------------- */
:root{
    --color-orange1:#ed3410 !important; 
    --color-orange2:#ffa70f !important; 
    --color-orange3:#fc4a1b !important; 
    --color-red1:#f24c4c !important; 
    --color-red2:#ff4672 !important; 
    --color-red3:#fe0a5c !important; 
    --color-red4:#ed362a !important; 
    --color-blue1:#3953e4 !important; 
    --color-blue2:#504ccb !important; 
    --color-blue3:#4660ff !important; 
    --color-blue4:#0141de !important; 
    --color-darkBlue1:#1d2930 !important; 
    --color-darkBlue2:#293462 !important; 
    --color-cyan1:#06c39d !important; 
    --color-cyan2:#00c87a !important; 
    --color-cyan3:#13e9be !important; 
    --color-lightGreen:#a5f211 !important; 
    --color-green1:#22d26b !important; 
    --color-light1:#ededf4 !important; 
    --color-light2:#f4f4fb !important; 
    --color-light3:#c3cfda !important; 
    --color-piag:#d0c6a6 !important; 
    --bg-grad1: linear-gradient(to right, #f33e20 0%, #fd8803 100%) !important;
}
  
// ------------------ colors -------------------

.color-orange1 {
    color: var(--color-orange1) !important;
}

.border-orange1 {
    border-color: var(--color-orange1) !important;
}

.bg-orange1 {
    background: var(--color-orange1) !important;
    border-color: var(--color-orange1) !important;
}

.hover-orange1:hover {
    color: var(--color-orange1) !important;
} 

// ------------------ colors -------------------


.color-orange2 {
    color: var(--color-orange2) !important;
}

.border-orange2 {
    border-color: var(--color-orange2) !important;
}

.bg-orange2 {
    background: var(--color-orange2) !important;
    border-color: var(--color-orange2) !important;
}

.hover-orange2:hover {
    color: var(--color-orange2) !important;
} 

// -------------
.color-orange3 {
    color: var(--color-orange3) !important;
}

.border-orange3 {
    border-color: var(--color-orange3) !important;
}

.bg-orange3 {
    background: var(--color-orange3) !important;
    border-color: var(--color-orange3) !important;
}

.hover-orange3:hover {
    color: var(--color-orange3) !important;
} 

// ---------------

.color-blue1 {
    color: var(--color-blue1) !important;
}

.border-blue1 {
    border-color: var(--color-blue1) !important;
}

.bg-blue1 {
    background: var(--color-blue1) !important;
    border-color: var(--color-blue1) !important;
}

.hover-blue1:hover {
    color: var(--color-blue1) !important;
} 

// ---------------

.color-blue2 {
    color: var(--color-blue2) !important;
}

.border-blue2 {
    border-color: var(--color-blue2) !important;
}

.bg-blue2 {
    background: var(--color-blue2) !important;
    border-color: var(--color-blue2) !important;
}

.hover-blue2:hover {
    color: var(--color-blue2) !important;
} 

// ---------------

.color-blue3 {
    color: var(--color-blue3) !important;
}

.border-blue3 {
    border-color: var(--color-blue3) !important;
}

.bg-blue3 {
    background: var(--color-blue3) !important;
    border-color: var(--color-blue3) !important;
}

.hover-blue3:hover {
    color: var(--color-blue3) !important;
} 


// ---------------

.color-blue4 {
    color: var(--color-blue4) !important;
}

.border-blue4 {
    border-color: var(--color-blue4) !important;
}

.bg-blue4 {
    background: var(--color-blue4) !important;
    border-color: var(--color-blue4) !important;
}

.hover-blue4:hover {
    color: var(--color-blue4) !important;
} 

// ---------------

.color-darkBlue1 {
    color: var(--color-darkBlue1) !important;
}

.border-darkBlue1 {
    border-color: var(--color-darkBlue1) !important;
}

.bg-darkBlue1 {
    background: var(--color-darkBlue1) !important;
    border-color: var(--color-darkBlue1) !important;
}

.hover-darkBlue1:hover {
    color: var(--color-darkBlue1) !important;
} 

// ---------------

.color-cyan1 {
    color: var(--color-cyan1) !important;
}

.border-cyan1 {
    border-color: var(--color-cyan1) !important;
}

.bg-cyan1 {
    background: var(--color-cyan1) !important;
    border-color: var(--color-cyan1) !important;
}

.hover-cyan1:hover {
    color: var(--color-cyan1) !important;
} 

// ---------------

.color-cyan2 {
    color: var(--color-cyan2) !important;
}

.border-cyan2 {
    border-color: var(--color-cyan2) !important;
}

.bg-cyan2 {
    background: var(--color-cyan2) !important;
    border-color: var(--color-cyan2) !important;
}

.hover-cyan2:hover {
    color: var(--color-cyan2) !important;
} 


// ---------------

.color-cyan3 {
    color: var(--color-cyan3) !important;
}

.border-cyan3 {
    border-color: var(--color-cyan3) !important;
}

.bg-cyan3 {
    background: var(--color-cyan3) !important;
    border-color: var(--color-cyan3) !important;
}

.hover-cyan3:hover {
    color: var(--color-cyan3) !important;
} 


// ---------------

.color-lightGreen {
    color: var(--color-lightGreen) !important;
}

.border-lightGreen {
    border-color: var(--color-lightGreen) !important;
}

.bg-lightGreen {
    background: var(--color-lightGreen) !important;
    border-color: var(--color-lightGreen) !important;
}

.hover-lightGreen:hover {
    color: var(--color-lightGreen) !important;
} 

// ---------------

.color-green1 {
    color: var(--color-green1) !important;
}

.border-green1 {
    border-color: var(--color-green1) !important;
}

.bg-green1 {
    background: var(--color-green1) !important;
}

.border-green1 {
    border-color: var(--color-green1) !important;
}

.hover-green1:hover {
    color: var(--color-green1) !important;
} 

// ---------------

.color-darkBlue2 {
    color: var(--color-darkBlue2) !important;
}

.border-darkBlue2 {
    border-color: var(--color-darkBlue2) !important;
}

.bg-darkBlue2 {
    background: var(--color-darkBlue2) !important;
    border-color: var(--color-darkBlue2) !important;
}

.hover-darkBlue2:hover {
    color: var(--color-darkBlue2) !important;
} 


// ---------------

.color-red1 {
    color: var(--color-red1) !important;
}

.border-red1 {
    border-color: var(--color-red1) !important;
}

.bg-red1 {
    background: var(--color-red1) !important;
    border-color: var(--color-red1) !important;
}

.hover-red1:hover {
    color: var(--color-red1) !important;
} 


// ---------------

.color-red2 {
    color: var(--color-red2) !important;
}

.border-red2 {
    border-color: var(--color-red2) !important;
}

.bg-red2 {
    background: var(--color-red2) !important;
    border-color: var(--color-red2) !important;
}

.hover-red2:hover {
    color: var(--color-red2) !important;
} 

// ---------------

.color-red3 {
    color: var(--color-red3) !important;
}

.border-red3 {
    border-color: var(--color-red3) !important;
}

.bg-red3 {
    background: var(--color-red3) !important;
    border-color: var(--color-red3) !important;
}

.hover-red3:hover {
    color: var(--color-red3) !important;
} 

// ---------------

.color-red4 {
    color: var(--color-red4) !important;
}

.border-red4 {
    border-color: var(--color-red4) !important;
}

.bg-red4 {
    background: var(--color-red4) !important;
    border-color: var(--color-red4) !important;
}

.hover-red4:hover {
    color: var(--color-red4) !important;
} 


// ---------------

.color-piag {
    color: var(--color-piag) !important;
}

.border-piag {
    border-color: var(--color-piag) !important;
}

.bg-piag {
    background: var(--color-piag) !important;
    border-color: var(--color-piag) !important;
}

.hover-piag:hover {
    color: var(--color-piag) !important;
} 


// ---------------

.border-000 {
    border-color: #000 !important;
}

.bg-000 {
    background: #000 !important;
    border-color: #000 !important;
}

// ---------------

.border-fff {
    border-color: #fff !important;
}

.bg-fff {
    background: #fff !important;
    border-color: #fff !important;
}


// ---------------
 
.border-light1 {
    border-color: var(--color-light1) !important;
}

.bg-light1 {
    background: var(--color-light1) !important;
    border-color: var(--color-light1) !important;
}


// ---------------

.border-light2 {
    border-color: var(--color-light1) !important;
}

.bg-light2 {
    background: var(--color-light1) !important;
    border-color: var(--color-light1) !important;
}


// ---------------
.color-light3{
    color: var(--color-light3) !important;
}

.border-light3 {
    border-color: var(--color-light3) !important;
}

.bg-light3 {
    background: var(--color-light3) !important;
    border-color: var(--color-light3) !important;
}

// ----------------

.text-grad1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--bg-grad1);  
}

.bg-grad1{
    background-image: var(--bg-grad1);  
}


// ----------------
.hover-underLine{
    &:hover{
        text-decoration: underline !important;
    }
}

// ----------------
.hover-white{
    &:hover{
        color: #fff;
        *{
            color: #fff;
        }
    }
}

